/* Player Base */

:root {
	--background: linear-gradient(#e2e2e2, #a9a9a9);
	--main-colour: linear-gradient(#ffdbdb, #ff0202);
    --main-colour-border: #990000;
}

.ytp-chrome-controls {
    background: var(--background);
    height: 32px !important;
}

.ytp-gradient-bottom {
	background: none !important;
}

.html5-video-player .ytp-chrome-bottom {
	height: 32px !important;
	width: 100% !important;
    left: 0 !important;
}

.ytp-chrome-bottom .ytp-progress-bar-container {
	bottom: 31px !important;
    scale: 103% 1;
}

.ytp-big-mode .ytp-chrome-bottom .ytp-progress-bar-container {
    bottom: 33px !important;
}

.ytp-chapter-hover-container.ytp-exp-chapter-hover-container {
    transform: scale(1) !important;
}

.ytp-progress-bar-container:hover:not([aria-disabled=true]) .ytp-exp-chapter-hover-effect {
	transform: scaleY(1) !important;
}

.ytp-progress-bar {
    transition: .5s;
    margin-bottom: 1px !important;
    height: 9px !important;
}

.ytp-progress-list {
	background: rgb(34 34 34) !important;
    transform: scale(1) !important;
}

.ytp-chapters-container {
    left: 12px;
}

.ytp-heat-map-container {
    display: block;
    opacity: 1;
}

.ytp-timed-markers-container {
    transform: scale(1);
    top: 0;
}

.ytp-progress-list:hover {
  bottom: 1px !important;
}

.ytp-big-mode .ytp-progress-bar {
    bottom: 1px;
}

.ytp-play-progress.ytp-swatch-background-color, .ytp-hover-progress.ytp-hover-progress-light {
	background: var(--main-colour);
    border-top: solid 1px var(--main-colour-border);
    border-bottom: solid 1px var(--main-colour-border);
    height: calc(100% - 2px);
}

.ad-interrupting .ytp-play-progress.ytp-swatch-background-color {
    background: #fc0 !important;
}

.iv-branding .branding-context-container-inner {
	display: none !important;
}

.ytp-player-content.ytp-iv-player-content {
	transition: .5s !important;
}

/* ################################# */

/* "BEZEL" ICONS */

.ytp-bezel-icon {
    display: none;
}

.ytp-bezel[aria-label="Pause"] {
    background: url('https://raw.githubusercontent.com/ktg5/YT-HTML5-Player/main/img/big-pause.png');
    background-size: cover;
    border-radius: 0;
}

.ytp-bezel[aria-label="Play"] {
    background: url('https://raw.githubusercontent.com/ktg5/YT-HTML5-Player/main/img/big-play.png');
    background-size: cover;
    border-radius: 0;
}

/* ################################# */

/* SCRUBBER */

.ytp-scrubber-container {
	top: 1px !important;
    left: 0px !important;
	margin-top: -5px;
}

.ytp-scrubber-button {
    background: url(https://raw.githubusercontent.com/ktg5/YT-HTML5-Player/main/img/2010-scrubber.png) !important;
    background-position: 0px 0px !important;
    background-size: 16px !important;
    height: 16px !important;
    width: 16px !important;
    top: 0;
    transition: .5s !important;
    position: relative;
    transform: scale(1) !important;
}

.ytp-scrubber-button:hover {
	background: url(https://raw.githubusercontent.com/ktg5/YT-HTML5-Player/main/img/2010-scrubber-hover.png) !important;
	background-position: 0px 0px !important;
    background-size: 16px !important;
    height: 16px !important;
    width: 16px !important;
    top: 0;
}

.ytp-autohide:not(.ytp-watch-controls) .ytp-scrubber-button {
    transform: scale(0) !important;
}

.ytp-scrubber-button.ytp-swatch-background-color {
	background-color: transparent !important;
}

.ytp-big-mode .ytp-scrubber-container {
    left: 0 !important;
}

.ytp-big-mode .ytp-scrubber-button {
	top: 0px !important;
}

.ytp-progress-bar-container:hover:not([aria-disabled=true]) .ytp-scrubber-button.ytp-scrubber-button-hover {
	transform: scale(1) !important;
}

/* ################################# */

/* TOP BUTTONS */

.ytp-gradient-top {
	display: none;
}

.ytp-chrome-top {
	display: none;
}