/* Player Base */

:root {
	--pt-background: linear-gradient(#d5d5d5, #a9a9a9);
	--pt-main-colour: linear-gradient(rgb(255, 225, 225), rgb(255, 0, 0));
    --pt-progress-bar-bg: rgba(34, 34, 34);
    --pt-alt-colour: linear-gradient(rgba(255, 225, 225, 0.5), rgba(255, 0, 0, 0.5));
    --pt-volume-slider: rgb(15, 15, 15);
    --pt-settings-bg: rgb(255, 255, 255);
    --pt-progress-bar-full-height: 6px;
    --pt-setting-after-label: #b91f1f;
}

.ytp-chrome-controls {
    background: var(--pt-background);
    border-top: solid 2px var(--pt-background-top);
    height: 30px !important;
}

.ytp-gradient-bottom {
	background: none !important;
}

#movie_player.html5-video-player .ytp-chrome-bottom {
	height: 30px !important;
	width: 100% !important;
    left: 0 !important;
}

.ytp-tooltip.ytp-bottom.ytp-rounded-tooltip.ytp-preview {
    margin-left: 60px;
}

.ytp-big-mode .ytp-tooltip.ytp-bottom.ytp-rounded-tooltip.ytp-preview {
    margin-left: 0;
}

/* ################################# */

/* PROGRESS BAR */

#movie_player .ytp-chrome-bottom .ytp-progress-bar-container {
	bottom: 34px !important;
	height: 11px;
    top: 10px;
    left: 72px;
    margin: 0;
    z-index: 60;
}

#movie_player .ytp-chrome-bottom .ytp-chapters-container {
	width: fit-content !important;
}

#movie_player.ytp-big-mode .ytp-chrome-bottom .ytp-progress-bar-container {
    top: -9px !important;
    left: 0 !important;
}

.ytp-chrome-bottom .ytp-progress-bar {
	transition: .5s;
	margin-bottom: -0.5px !important;
	height: var(--pt-progress-bar-full-height) !important;
}

.ytp-chrome-bottom .ytp-progress-bar:hover {
	margin-bottom: 1px !important;
}

/* this is only used in embeds & fullscreen */
.ytp-embed .ytp-chrome-bottom .ytp-chapters-container,
.ytp-big-mode .ytp-chrome-bottom .ytp-chapters-container {
    width: max-content !important;
}

.ytp-embed .ytp-chrome-bottom .ytp-progress-bar:after,
.ytp-big-mode .ytp-chrome-bottom .ytp-progress-bar:after {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: var(--pt-progress-bar-full-height);
    background: var(--pt-progress-bar-bg);
    top: 0;
    right: -25px;
    transform: scaleY(.6);
}

.ytp-big-mode .ytp-chrome-bottom .ytp-progress-bar:after {
	right: -60px;
	width: 60px;
}

.ytp-chrome-bottom .ytp-progress-bar.finished:after {
    background: var(--pt-main-colour) !important;
}

.ytp-chrome-bottom .ytp-progress-bar .ytp-load-progress {
    background: var(--pt-alt-colour);
}

.ytp-chrome-bottom .ytp-progress-bar:hover:after {
	transform: scaleY(1);
}

.ad-interrupting .ytp-play-progress.ytp-swatch-background-color {
	background: var(--pt-main-colour);
}

/* Make sure YouTube doesn't fuck with these */
.ytp-chapter-hover-container.ytp-exp-chapter-hover-container {
    transform: scale(1) !important;
}

.ytp-progress-bar-container:hover:not([aria-disabled=true]) .ytp-exp-chapter-hover-effect {
	transform: scaleY(1) !important;
}

.ytp-chapter-hover-container.ytp-exp-chapter-hover-effect {
	transform: scaleY(1) !important;
}

.ytp-chapter-hover-container.ytp-exp-chapter-hover-effect:hover {
    transform: scaleY(1) !important;
}

.ytp-progress-list {
	background: var(--pt-progress-bar-bg) !important;
}

.ytp-timed-markers-container {
    top: 0;
}

.ytp-big-mode .ytp-progress-bar {
    bottom: 1px;
}

.ytp-play-progress.ytp-swatch-background-color, .ytp-hover-progress.ytp-hover-progress-light {
	background: var(--pt-main-colour) !important;
}

.iv-branding .branding-context-container-inner {
	display: none !important;
}

.ytp-player-content.ytp-iv-player-content {
	transition: .5s !important;
}

/* Fully bar plz */

.ytp-chrome-bottom .ytp-progress-bar-container .ytp-progress-bar {
    width: auto;
    height: var(--pt-progress-bar-full-height) !important;
    margin-bottom: 1px !important;
}

.ytp-autohide .ytp-chrome-bottom .ytp-progress-bar-container .ytp-progress-bar {
    height: 4px !important;
}

.ytp-chrome-bottom .ytp-progress-bar .ytp-progress-list {
    transform: scaleY(1) !important;
}

.ytp-chrome-bottom .ytp-progress-bar .ytp-scrubber-container .ytp-scrubber-button {
    transform: scale(1) !important;
}

.ytp-chrome-bottom .ytp-progress-bar:after {
    transform: scale(1) !important;
}

/* ################################# */

/* AUTO-HIDE PLAYER */

.ytp-chrome-bottom {
    bottom: 0;
    transition: all .5s cubic-bezier(0.0,0.0,0.2,1) !important;
}

.ytp-autohide:not(.ytp-watch-controls):not(.paused-mode) .ytp-chrome-bottom, .ytp-chrome-bottom[aria-hidden=true] {
    opacity: 1 !important;
    bottom: -45px;
}

.ytp-autohide:not(.ytp-watch-controls) .ytp-scrubber-container .ytp-scrubber-button {
    transform: scale(0) !important;
}

.ytp-big-mode.ytp-autohide:not(.ytp-watch-controls):not(.paused-mode) .ytp-chrome-bottom, .ytp-big-mode .ytp-chrome-bottom[aria-hidden=true] {
    opacity: 1 !important;
    bottom: -41px;
}

.ytp-autohide .ytp-chrome-bottom .ytp-progress-bar-container {
    border-top: 0 none !important;
}

.ytp-progress-bar-container {
    transition: all .5s cubic-bezier(0.0,0.0,0.2,1) !important;
}

.ytp-autohide .ytp-progress-bar {
    height: 5px;
}

.ytp-autohide .ytp-progress-bar-container {
    width: calc( 100% + 20px );
    margin-left: -12px;
}

.ytp-big-mode.ytp-autohide .ytp-progress-bar-container {
    width: calc( 100% + 48px );
    margin-left: -24px;
}

.ytp-autohide .ytp-player-content:not(.html5-endscreen) {
    transition: bottom .5s cubic-bezier(0.0,0.0,0.2,1), top .5s cubic-bezier(0.0,0.0,0.2,1);
}

.ytp-autohide:not(.ytp-ad-overlay-open) .ytp-subtitles-player-content:not(.html5-endscreen):not(.ytp-iv-player-content) {
    bottom: 1em !important;
}

/* ################################# */

/* BASE BUTTONS */

.ytp-button svg path, .ytp-button .ytp-svg-shadow {
	display: none !important;
}

.ytp-chrome-bottom .ytp-button svg {
    position: absolute !important;
    padding: 0 !important;
    top: 0;
    bottom: 0 !important;
    left: 0;
    right: 0;
    margin: auto;
}

/* ################################# */

/* LEFT BUTTONS */

.ytp-chrome-controls .ytp-left-controls {
    margin-left: 6px;
}

.ytp-chrome-controls .ytp-left-controls .ytp-button {
    position: relative;
    background-size: contain !important;
    margin-top: 3px !important;
    width: 30px !important;
    height: 25px !important;
    padding: 0 !important;
}

.ytp-chrome-controls .ytp-left-controls .ytp-button svg {
    position: sticky;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 14px !important;
    bottom: 3px;
}

/* PREV BUTTON */

.ytp-button.ytp-prev-button {
	display: none !important;
}

/* PLAY BUTTON */

.ytp-button.ytp-play-button {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2006/button-left-bg.png') !important;
}

.ytp-button.ytp-play-button svg {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2006/pause.png');
}

.ytp-button.ytp-play-button:hover svg {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2006/play-hover.png');
}

.ytp-button.ytp-play-button[data-title-no-tooltip="Play"] svg {
	background: url('chrome-extension://__MSG_@@extension_id__/img/2006/play.png') no-repeat center;
	background-size: 15px !important;
}

.ytp-button.ytp-play-button[data-title-no-tooltip="Play"]:hover svg {
	background: url('chrome-extension://__MSG_@@extension_id__/img/2006/pause-hover.png') no-repeat center;
	background-size: 15px !important;
}

.ytp-chrome-bottom.no-right-button .ytp-button.ytp-play-button {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2006/button-big-bg.png') !important;
    background-size: 100% !important;
    width: 60px !important;
}

/* NEXT BUTTON */

.ytp-button.ytp-next-button {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2006/button-right-bg.png') !important;
}

.ytp-button.ytp-next-button svg {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2006/next.png');
}

.ytp-button.ytp-next-button:hover svg {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2006/next-hover.png');
}

/* VOLUME BUTTON */
/* DEFAULT */

.ytp-button.ytp-mute-button,
.ytp-button.ytp-volume-icon
{
    display: inline-block !important;
    background: url('chrome-extension://__MSG_@@extension_id__/img/2006/volume-button.png');
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 20px !important;
    width: 30px;
    margin-left: 4px;
}

.html5-video-player.ytp-delhi-modern .ytp-button.ytp-volume-icon {
    position: relative;
    bottom: 8px;
}

.html5-video-player.ytp-delhi-modern.ytp-delhi-modern-compact-controls .ytp-button.ytp-volume-icon {
    bottom: 5px;
}

.html5-video-player.ytp-big-mode .ytp-button.ytp-volume-icon {
    top: -23px;
}

.ytp-button.ytp-mute-button:hover,
.ytp-button.ytp-volume-icon:hover
{
    background: url('chrome-extension://__MSG_@@extension_id__/img/2006/volume-button-mute.png') !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 20px !important;
}

/* MEDIUM VOLUME */
.ytp-volume-area[simplevolumenow="med"] .ytp-button.ytp-mute-button,
.ytp-volume-area[simplevolumenow="med"] .ytp-button.ytp-volume-icon
{
    background: url('chrome-extension://__MSG_@@extension_id__/img/2006/volume-button-med.png');
}

/* LOW VOLUME */
.ytp-volume-area[simplevolumenow="low"] .ytp-button.ytp-mute-button,
.ytp-volume-area[simplevolumenow="low"] .ytp-button.ytp-volume-icon
{
    background: url('chrome-extension://__MSG_@@extension_id__/img/2006/volume-button-low.png');
}

/* MUTE */
.ytp-button.ytp-mute-button[data-title-no-tooltip="Unmute"]
.ytp-button.ytp-volume-icon[data-title-no-tooltip="Unmute"]
{
	background: url('chrome-extension://__MSG_@@extension_id__/img/2006/volume-button-mute.png') !important;
    background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: 20px !important;
}

.ytp-button.ytp-mute-button[data-title-no-tooltip="Unmute"]:hover,
.ytp-button.ytp-volume-icon[data-title-no-tooltip="Unmute"]:hover
{
	background: url('chrome-extension://__MSG_@@extension_id__/img/2006/volume-button.png') !important;
    background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: 20px !important;
}

/* ################################# */

/* VOLUME PANEL */

.html5-video-player .ytp-chrome-bottom .ytp-chrome-controls .ytp-volume-area {
    display: inline-flex !important;
    position: sticky !important;
    padding: 0 6px 0 16px !important;
    width: 95px;
    height: 32px !important;
    bottom: 0;
}

.ytp-volume-area .ytp-volume-panel {
    display: inline-block !important;
    width: 46px !important;
}

.html5-video-player.ytp-delhi-modern .ytp-volume-area .ytp-volume-panel {
    position: relative;
    bottom: 4px;
}

.html5-video-player.ytp-delhi-modern.ytp-delhi-modern-compact-controls .ytp-volume-area .ytp-volume-panel {
    bottom: 1px;
}

.html5-video-player .ytp-chrome-bottom .ytp-chrome-controls .ytp-volume-area:before {
    content: '';
    display: block;
    position: relative !important;
    right: 6px;
    width: 1px;
    height: 100%;
    background: linear-gradient(179deg, #0b0b0b38, #00000000) !important;
}

.html5-video-player .ytp-chrome-bottom .ytp-chrome-controls .ytp-volume-area:after {
    content: '';
    display: block;
    position: relative !important;
    width: 1px;
    height: 100%;
    background: linear-gradient(179deg, #0b0b0b38, #00000000) !important;
}

.ytp-volume-panel .ytp-volume-slider-handle {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2006/volume-slider.png');
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 6px !important;
    height: 18px;
    width: 6px;
    top: 13px;
}

.ytp-volume-slider-handle::before {
	background: var(--pt-volume-slider);
    width: 58px;
}

.ytp-volume-slider-handle::after {
    background: rgb(135, 135, 135);
}

.html5-video-player.ytp-big-mode .ytp-chrome-bottom .ytp-chrome-controls .ytp-volume-area {
    width: 124px;
}

.ytp-big-mode .ytp-volume-area .ytp-volume-panel {
    display: inline-block !important;
    position: relative;
    width: 78px !important;
    top: 2px;
}

.ytp-big-mode .ytp-volume-slider-handle::before {
    left: -96px;
}

/* ################################# */

/* RIGHT CONTROLS */

.ytp-chrome-bottom .ytp-right-controls {
    background: none !important;
    position: relative;
    height: initial !important;
    margin: 0 !important;
    bottom: 1px;
}

.ytp-chrome-controls .ytp-right-controls .ytp-button {
    position: relative;
    background-size: contain;
    width: 40px !important;
    padding: 0;
}

.ytp-chrome-controls .ytp-right-controls .ytp-button svg {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    top: 2px !important;
}

.ytp-big-mode .ytp-right-controls .ytp-button {
    width: 40px !important;
    height: 100% !important;
}

/* SUBTITLES BUTTON */

.ytp-subtitles-button.ytp-button {
    display: inline-block !important;
    background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
    background-position: -60px -199px;
    background-size: 180px !important;
}

.ytp-subtitles-button.ytp-button:hover {
    filter: brightness(1.5);
}

.ytp-subtitles-button.ytp-button[aria-pressed=true] {
	background-position: -28px -146px;
}

.ytp-subtitles-button.ytp-button[aria-pressed=true]:hover {
	filter: brightness(1);
}

.ytp-subtitles-button.ytp-button[title="Subtitles/closed captions unavailable"] {
	display: none !important;
}

.ytp-subtitles-button.ytp-button::after {
	display: none !important;
}

/* SETTINGS BUTTON */

.ytp-button.ytp-settings-button {
    display: inline-block !important;
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
    background-position: -147px -120px;
    background-size: 180px !important;
}

.ytp-button.ytp-settings-button:hover, .ytp-button.ytp-settings-button[aria-expanded="true"] {
    filter: brightness(1.5);
}

.ytp-button.ytp-settings-button:after {
    background-color: var(--pt-setting-after-label);
	font-size: 8px !important;
	right: 2px !important;
	top: 5px !important;
}

.ytp-big-mode .ytp-button.ytp-settings-button::after {
	font-size: 8px !important;
	right: 2px !important;
	top: 5px !important;
}

/* THEATER BUTTON */

.ytp-button.ytp-size-button svg {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2006/theater-mode.png') no-repeat center;
	background-size: 28px !important;
}

.ytp-button.ytp-size-button:hover svg {
    background: Url('chrome-extension://__MSG_@@extension_id__/img/2006/theater-mode-hover.gif') no-repeat center;
}

.ytp-button.ytp-size-button[title="Default view (t)"] svg {
    background: Url('chrome-extension://__MSG_@@extension_id__/img/2006/un-theater-mode.png') no-repeat center;
}

.ytp-button.ytp-size-button[aria-label="Default view keyboard shortcut t"]:hover svg {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2006/un-theater-mode-hover.gif') no-repeat center;
}

/* FULLSCREEN BUTTON */

.ytp-button.ytp-fullscreen-button svg {
	background: url('chrome-extension://__MSG_@@extension_id__/img/2006/fullscreen.png') no-repeat center;
    background-size: 31px !important;
}

.ytp-button.ytp-fullscreen-button:hover svg {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2006/fullscreen-hover.gif') no-repeat center;
}

.ytp-button.ytp-fullscreen-button[data-title-no-tooltip="Exit full screen"] svg {
	background: url('chrome-extension://__MSG_@@extension_id__/img/2006/un-fullscreen.png') no-repeat center;
    margin: 0 auto;
}

.ytp-button.ytp-fullscreen-button[data-title-no-tooltip="Exit full screen"]:hover svg {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2006/un-fullscreen-hover.gif') no-repeat center;
}

.ytp-big-mode .ytp-fullscreen-button.ytp-button {
    position: relative;
}

/* DISPLAY NONE OF THESE */

.ytp-fullerscreen-edu-button,
.ytp-multicam-button,
.ytp-multicam-button,
.ytp-miniplayer-button,
.ytp-remote-button {
	display: none !important;
}

/* ################################# */

/* TIME DISPLAY */

.ytp-time-display {
    display: inline-block !important;
    position: relative;
    background: black;
    padding: 2px 6px !important;
    border-radius: 4px;
    height: 15px;
    top: 7px;
}

.ytp-time-display .ytp-time-wrapper {
    padding: 0 !important;
}

.html5-video-player.ytp-delhi-modern .ytp-chrome-bottom .ytp-time-wrapper {
    height: 100%;
    top: -12px;
}

.html5-video-player.ytp-delhi-modern.ytp-small-mode .ytp-chrome-bottom .ytp-time-wrapper,
.html5-video-player.ytp-delhi-modern.ytp-delhi-modern-compact-controls .ytp-chrome-bottom .ytp-time-wrapper {
    top: -9px;
}

.html5-video-player.ytp-delhi-modern.ytp-big-mode .ytp-chrome-bottom .ytp-time-wrapper {
    top: -16px;
}

.ytp-time-display .ytp-time-wrapper .ytp-time-contents {
    height: 100%;
}

.ytp-time-display .ytp-time-current,
.ytp-time-display .ytp-time-separator,
.ytp-time-display .ytp-time-duration,
#sponsorBlockDurationAfterSkips 
{
    position: sticky;
    font-size: 10px;
    bottom: 9px;
}

.ytp-time-display .ytp-time-duration {
    color: red;
}

/* CLIPPY ICON :3 */

.ytp-clip .ytp-time-clip-icon {
    position: relative;
    bottom: 14px;
    margin: 0 5px 0 1px;
}

.ytp-time-clip-icon svg {
    width: 12px;
    height: 12px;
}

.ytp-clip .ytp-clip-watch-full-video-button {
    position: relative;
    bottom: 11px;
    height: 12px !important;
    font-size: 10px;
    line-height: 12px;
    margin-left: 16px !important;
}

/* ################################# */

/* SCRUBBER */

.ytp-scrubber-container {
	top: 1px !important;
    left: 0px !important;
	margin-top: -5px;
}

.ytp-swatch-background-color.ytp-scrubber-button {
    background: url(chrome-extension://__MSG_@@extension_id__/img/2006-scrubber.png) !important;
    background-position: 0px 0px !important;
    background-size: 16px !important;
    height: 16px !important;
    width: 16px !important;
    top: -1px;
    left: -7px;
    transition: .5s !important;
    position: relative;
    transform: scale(1) !important;
}

.ytp-swatch-background-color.ytp-scrubber-button:hover {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2006-scrubber-hover.png) !important;
	background-position: 0px 0px !important;
    background-size: 16px !important;
    height: 16px !important;
    width: 16px !important;
}

.ytp-autohide:not(.ytp-watch-controls) .ytp-scrubber-button {
    transform: scale(0) !important;
}

.ytp-swatch-background-color.ytp-scrubber-button.ytp-swatch-background-color {
	background-color: transparent !important;
}

.ytp-big-mode .ytp-scrubber-container {
    left: 0 !important;
}

.ytp-big-mode .ytp-scrubber-button {
    left: -14px;
}

.ytp-progress-bar-container:hover:not([aria-disabled=true]) .ytp-scrubber-button.ytp-scrubber-button-hover {
	transform: scale(1) !important;
}

/* ################################# */

/* SETTINGS MENU */

.ytp-popup {
	background: var(--pt-settings-bg) !important;
}

.ytp-popup.ytp-settings-menu {
	bottom: 30px !important;
    border-radius: 0 !important;
}

.ytp-settings-menu .ytp-panel {
    min-width: 225px !important;
}

.ytp-popup.ytp-settings-menu .ytp-panel-menu {
	padding: 0px !important;
}

.ytp-popup.ytp-settings-menu .ytp-menuitem-icon {
	display: none !important;
}

.ytp-popup.ytp-settings-menu .ytp-menuitem .ytp-menuitem-label {
	padding-left: 20px !important;
}

.ytp-popup.ytp-settings-menu .ytp-menuitem[role="menuitemradio"] .ytp-menuitem-label {
	padding-left: 35px !important;
}

.ytp-menuitem .ytp-menuitem-label,
.ytp-menuitem .ytp-menuitem-content,
.ytp-panel .ytp-panel-footer,
.ytp-panel .ytp-panel-header {
	color: rgb(10, 10, 10);
    text-shadow: none;
}

.ytp-settings-menu .ytp-panel-back-button {
    background: url('chrome-extension://__MSG_@@extension_id__/img/x-1.png') no-repeat center;
    background-size: 20px;
}

.ytp-menuitem[role=menuitemradio][aria-checked=true] .ytp-menuitem-label {
    background: url('chrome-extension://__MSG_@@extension_id__/img/dot-1.png') no-repeat center;
    background-size: 12px !important;
    background-position: left 10px center;
}

/* ################################# */

/* TOP BUTTONS */

.ytp-gradient-top {
	display: none;
}

.ytp-chrome-top {
	display: none;
}

/* ################################# */

/* CONTEXT MENU */

.ytp-contextmenu.ytp-popup.ytp-contextmenu {
	background: rgb(255, 255, 255) !important;
	outline: 2px solid #dfdfdf;
	height: 230px !important;
	width: 267px !important;
	text-shadow: 0 0 0;
	transition: none;
}

.ytp-contextmenu .ytp-panel {
	height: 100% !important;
	width: 100% !important;
}

.ytp-contextmenu .ytp-panel .ytp-panel-menu {
	height: 230px !important;
	padding: 0;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem {
	height: 30px;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem:hover {
	background: #4f4f4f;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem-icon {
	display: none;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem-label {
	padding-left: 10px !important;
	font-size: 130%;
	padding: 0 5px;
	color: gray;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem-label:hover {
	color: white;
}

.ytp-big-mode .ytp-menuitem-label {
	font-size: 90% !important;
}
  
.ytp-big-mode.ytp-contextmenu.ytp-popup.ytp-contextmenu {
	height: 240px !important;
}

.ytp-big-mode.ytp-contextmenu .ytp-panel {
	height: 240px !important;
}

.ytp-big-mode.ytp-contextmenu .ytp-panel .ytp-panel-menu {
	height: 240px !important;
}

/* ################################# */

/* EMBEDDED VIDEO */

.ytp-embed .ytp-large-play-button {
	background: url('chrome-extension://__MSG_@@extension_id__/img/old-embed-play.png') center no-repeat;
	background-size: contain;
}

.ytp-embed .ytp-progress-bar-container {
    top: -7px !important;
    left: 0 !important;
}

.ad-interrupting .ytp-chrome-bottom .ytp-chapters-container,
.ytp-embed .ytp-chrome-bottom .ytp-chapters-container {
	width: 100% !important;
}

.ytp-embed .ytp-impression-link {
    display: none !important;
}

.ytp-button.yt-uix-sessionlink {
    display: none !important;
}

/* ################################# */