/* PLAYER BASE */

:root {
	--pt-background: linear-gradient(#373c3e, #181a1b);
    --pt-background-top: #323639;
    --pt-main-colour: rgb(155, 0, 0.8);
    --pt-alt-colour: rgba(155, 0, 0, 0.5);
    --pt-volume-slider: rgb(155, 0, 0);
    --pt-progress-bar-bg: rgba(28, 28, 28, 0.75);
    --pt-progress-bar-outline: #5a5a5a63;
    --pt-progress-text: #c2c2c2;
	--pt-alt-progress-text: #c2c2c2;
    --pt-button-gradient: linear-gradient(rgb(24, 26, 27), rgb(60, 65, 67));
    --pt-settings-bg: rgb(35, 35, 35);
}


/* ################################# */

/* SCRUBBER */

.ytp-swatch-background-color.ytp-scrubber-button {
    background: url(chrome-extension://__MSG_@@extension_id__/img/2010-scrubber.png) no-repeat !important;
    background-position: 0px 0px !important;
    background-size: 16px !important;
    height: 18px !important;
    width: 18px !important;
    transition: .5s !important;
    position: relative;
}

.ytp-swatch-background-color.ytp-scrubber-button:hover {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2010-scrubber-hover.png) !important;
	background-position: 0px 0px !important;
    background-size: 18px !important;
    height: 18px !important;
    width: 18px !important;
    top: -2px;
}

/* ################################# */

/* BUTTONS BASE */

.ytp-chrome-bottom .ytp-button {
    border: solid 1px rgb(60, 65, 68);
    background: var(--pt-button-gradient) !important;
}

/* ################################# */

/* PLAY BUTTON */

.ytp-button.ytp-play-button svg {
	background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/pause.png') no-repeat center;
    background-size: 15px;
}

.ytp-button.ytp-play-button:hover svg {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/play-hover.png') no-repeat center;
    background-size: 15px;
}

.ytp-button.ytp-play-button[data-title-no-tooltip="Play"] svg {
	background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/play.png') no-repeat center;
	background-size: 15px;
}

.ytp-button.ytp-play-button[data-title-no-tooltip="Play"]:hover svg {
	background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/pause-hover.png') no-repeat center;
	background-size: 15px;
}

/* VOLUME BUTTON */
/* DEFAULT */
.ytp-button.ytp-mute-button svg,
.ytp-button.ytp-volume-icon svg
{
	background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/volume.png') no-repeat center;
	background-size: 34px;
	position: absolute;
	top: 0;
	left: 0;
}

.ytp-button.ytp-mute-button:hover svg,
.ytp-button.ytp-volume-icon:hover svg
{
	background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/volume-mute-hover.png') no-repeat center !important;
    background-size: 34px !important;
}

/* MEDIUM VOLUME */
.ytp-volume-area[simplevolumenow="med"] .ytp-button.ytp-mute-button svg,
.ytp-volume-area[simplevolumenow="med"] .ytp-button.ytp-volume-icon svg
{
    background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/volume-med.png') no-repeat center;
	background-size: 34px;
}

/* LOW VOLUME */
.ytp-volume-area[simplevolumenow="low"] .ytp-button.ytp-mute-button svg,
.ytp-volume-area[simplevolumenow="low"] .ytp-button.ytp-volume-icon svg
{
    background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/volume-low.png') no-repeat center;
	background-size: 34px;
}

/* MUTE */
.ytp-button.ytp-mute-button[title="Unmute (m)"] svg,
.ytp-button.ytp-volume-icon[title="Unmute (m)"] svg
{
	background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/volume-mute.png') no-repeat center;
    background-size: 34px;
}

.ytp-button.ytp-mute-button[data-title-no-tooltip="Unmute"]:hover svg,
.ytp-button.ytp-volume-icon[data-title-no-tooltip="Unmute"]:hover svg
{
	background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/volume-hover.png') no-repeat center;
    background-size: 34px;
}

/* ################################# */

/* RIGHT BUTTONS */
/* SUBTITLES BUTTON */

.ytp-subtitles-button.ytp-button svg {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/captions-off.png') no-repeat center;
    background-size: 24px;
}

.ytp-subtitles-button.ytp-button:hover svg {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/captions-on.png') no-repeat center;
    background-size: 24px;
}

.ytp-subtitles-button.ytp-button[aria-pressed=true] svg {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/captions-on.png') no-repeat center;
    background-size: 24px;
}

/* SETTINGS BUTTON */

.ytp-button.ytp-settings-button svg {
	background: url('chrome-extension://__MSG_@@extension_id__/img/2012-icons.png') no-repeat;
    background-position: -172px -136px;
    background-size: 200px;
    bottom: 5px;
    transform: rotate(0) !important;
}

.ytp-button.ytp-settings-button:hover svg, .ytp-button.ytp-settings-button[aria-expanded="true"] svg {
    filter: brightness(1.5);
}

/* THEATER BUTTON */

.ytp-button.ytp-size-button svg {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/theater-mode.png') no-repeat center;
	background-size: 20px;
}

.ytp-button.ytp-size-button:hover svg {
    background: Url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/un-theater-mode-hover.png') no-repeat center;
	background-size: 20px;
}

.ytp-button.ytp-size-button[title="Default view (t)"] svg {
    background: Url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/un-theater-mode.png') no-repeat center;
	background-size: 20px;
}

.ytp-button.ytp-size-button[aria-label="Default view keyboard shortcut t"]:hover svg {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/theater-mode-hover.png') no-repeat center;
	background-size: 20px;
}

/* FULLSCREEN BUTTON */

.ytp-button.ytp-fullscreen-button svg {
	background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/fullscreen.png') no-repeat center;
    background-size: 24px;
}

.ytp-button.ytp-fullscreen-button:hover svg {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/fullscreen-hover.png') no-repeat center;
    background-size: 24px;
}

.ytp-button.ytp-fullscreen-button[data-title-no-tooltip="Exit full screen"] svg {
	background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/un-fullscreen.png') no-repeat center;
    background-size: 24px;
}

.ytp-button.ytp-fullscreen-button[data-title-no-tooltip="Exit full screen"]:hover svg {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/un-fullscreen-hover.png') no-repeat center;
    background-size: 24px;
}

/* ################################# */

/* SETTINGS MENU */

.ytp-menuitem .ytp-menuitem-label,
.ytp-menuitem .ytp-menuitem-content,
.ytp-panel .ytp-panel-footer,
.ytp-panel .ytp-panel-header {
	color: rgb(255, 255, 255);
    text-shadow: none;
}

.ytp-settings-menu .ytp-panel-back-button {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/x-1.png') no-repeat center;
    background-size: 20px;
}

.ytp-menuitem[role=menuitemradio][aria-checked=true] .ytp-menuitem-label {
    background: url('chrome-extension://__MSG_@@extension_id__/img/2010%20icons/dot-1.png') no-repeat center;
    background-size: 12px !important;
    background-position: left 10px center;
}