/* PLAYER BASE */

:root {
	--pt-progress-bar-full-height: 10px;
	--pt-setting-after-label: #b91f1f;
}

.ytp-chrome-controls {
    background: var(--pt-background);
    border-top: solid 2px var(--pt-background-top);
    height: 33px !important;
}

.ytp-gradient-bottom {
	background: none !important;
}

.html5-video-player .ytp-chrome-bottom {
	height: 35px !important;
	width: 100% !important;
    left: 0 !important;
}

/* ################################# */

/* PROGRESS BAR */

.ytp-chrome-bottom .ytp-progress-bar-container {
	width: 100% !important;
	bottom: 34px !important;
	height: 11px;
	border-top: 1px solid var(--pt-progress-bar-outline);
	border-bottom: 1px solid var(--pt-progress-bar-outline);
}

.ytp-chrome-bottom .ytp-chapters-container {
	width: fit-content !important;
}

.ytp-big-mode .ytp-chrome-bottom .ytp-progress-bar-container {
    bottom: 33px !important;
}

.ytp-chrome-bottom .ytp-progress-bar {
	transition: .5s;
	margin-bottom: -0.5px !important;
	height: var(--pt-progress-bar-full-height) !important;
}

.ytp-chrome-bottom .ytp-progress-bar:hover {
	margin-bottom: 1px !important;
}

/* this is only used in embeds & fullscreen */
.ytp-embed .ytp-chrome-bottom .ytp-progress-bar:after,
.ytp-big-mode .ytp-chrome-bottom .ytp-progress-bar:after {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: var(--pt-progress-bar-full-height);
    background: var(--pt-progress-bar-bg);
    margin-top: -10px;
    right: 0;
    transform: scaleY(.6);
}

.ytp-big-mode .ytp-chrome-bottom .ytp-progress-bar:after {
	width: 48px;
}

.ytp-chrome-bottom .ytp-progress-bar.finished:after {
    background: var(--pt-main-colour) !important;
}

.ytp-chrome-bottom .ytp-progress-bar:hover:after {
	transform: scaleY(1);
}

.ytp-chrome-bottom .ytp-progress-bar .ytp-load-progress {
    background: var(--pt-alt-colour)
}

.ad-interrupting .ytp-play-progress.ytp-swatch-background-color {
	background: var(--pt-main-colour);
}

/* Make sure YouTube doesn't fuck with these */
.ytp-chapter-hover-container.ytp-exp-chapter-hover-container {
    transform: scale(1) !important;
}

.ytp-progress-bar-container:hover:not([aria-disabled=true]) .ytp-exp-chapter-hover-effect {
	transform: scaleY(1) !important;
}

.ytp-chapter-hover-container.ytp-exp-chapter-hover-effect {
	transform: scaleY(1) !important;
}

.ytp-chapter-hover-container.ytp-exp-chapter-hover-effect:hover {
    transform: scaleY(1) !important;
}

.ytp-progress-list {
	background: var(--pt-progress-bar-bg) !important;
}

.ytp-timed-markers-container {
    top: 0;
}

.ytp-big-mode .ytp-progress-bar {
    bottom: 1px;
}

.ytp-play-progress.ytp-swatch-background-color, .ytp-hover-progress.ytp-hover-progress-light {
	background: var(--pt-main-colour);
}

.iv-branding .branding-context-container-inner {
	display: none !important;
}

.ytp-player-content.ytp-iv-player-content {
	transition: .5s !important;
}

/* ################################# */

/* AUTO-HIDE PLAYER */

.ytp-chrome-bottom {
    bottom: 0;
    transition: all .5s cubic-bezier(0.0,0.0,0.2,1) !important;
}

.ytp-autohide:not(.ytp-watch-controls) .ytp-chrome-bottom, .ytp-chrome-bottom[aria-hidden=true] {
    opacity: 1 !important;
    bottom: -45px;
}

.ytp-big-mode.ytp-autohide:not(.ytp-watch-controls) .ytp-chrome-bottom, .ytp-big-mode .ytp-chrome-bottom[aria-hidden=true] {
    opacity: 1 !important;
    bottom: -41px;
}

.ytp-autohide .ytp-chrome-bottom .ytp-progress-bar-container {
    border-top: 0 none !important;
}

.ytp-progress-bar-container {
    transition: all .5s cubic-bezier(0.0,0.0,0.2,1) !important;
}

.ytp-autohide .ytp-progress-bar {
    height: 5px;
}

.ytp-autohide .ytp-progress-bar-container {
    width: calc( 100% + 20px );
    margin-left: -12px;
}

.ytp-big-mode.ytp-autohide .ytp-progress-bar-container {
    width: calc( 100% + 48px );
    margin-left: -24px;
}

.ytp-autohide .ytp-player-content:not(.html5-endscreen) {
    transition: bottom .5s cubic-bezier(0.0,0.0,0.2,1), top .5s cubic-bezier(0.0,0.0,0.2,1);
}

.ytp-autohide:not(.ytp-ad-overlay-open) .ytp-subtitles-player-content:not(.html5-endscreen):not(.ytp-iv-player-content) {
    bottom: 1em !important;
}

/* ################################# */

/* SCRUBBER */

.ytp-scrubber-container {
	top: 1px !important;
	margin-top: -5px;
}

.ytp-autohide:not(.ytp-watch-controls) .ytp-scrubber-button {
    transform: scale(0) !important;
}

.ytp-scrubber-button.ytp-swatch-background-color {
	background-color: transparent !important;
}

.ytp-big-mode .ytp-scrubber-container {
    left: -12px !important;
}

.ytp-big-mode .ytp-scrubber-button {
	top: 0px !important;
}

.ytp-progress-bar-container:hover:not([aria-disabled=true]) .ytp-scrubber-button.ytp-scrubber-button-hover {
	transform: scale(1) !important;
}

/* ################################# */

/* HEAT MAP */

.ytp-progress-bar-container .ytp-heat-map-container {
    top: -40px;
}

.ytp-heat-map-chapter.ytp-heatmap-hover {
    bottom: 0px !important;
}

/* ################################# */

/* BUTTONS BASE */

.ytp-chrome-controls .ytp-left-controls {
	padding-left: 0;
}

.ytp-larger-tap-buttons .ytp-chrome-bottom {
	transition: .5s !important;
	width: inherit !important;
	height: 35px !important;
	left: unset !important;
}

.ytd-channel-video-player-renderer .ytp-chrome-bottom {
	height: 35px !important;
}

.ytp-larger-tap-buttons .ytp-chrome-bottom .ytp-chrome-controls {
	position: relative;
	transition: .5s;
	height: 35px;
}

/* igrone background & border for the following: */
.ytp-chrome-bottom .ytp-button.ytp-settings-button,
.ytp-chrome-bottom .ytp-button.ytp-subtitles-button,
.ytp-chrome-bottom .ytp-button[data-tooltip-target-id="ytp-autonav-toggle-button"],
.ytp-chrome-bottom .ytp-chapter-title.ytp-button,
.ytp-chrome-bottom .ytp-button.ytp-live-badge
{
    background: none !important;
    border: none !important;
}

.ytp-button svg path, .ytp-button .ytp-svg-shadow {
	display: none;
}

.ytp-button.ytp-sb.ytp-sb-subscribed {
	width: auto;
}

/* ################################# */

/* LEFT BUTTONS */

.ytp-left-controls {
	position: relative;
	padding-left: 10px;
	top: 0;
}

/* PREV BUTTON */

.ytp-button.ytp-prev-button {
	display: none !important;
}

/* NEXT BUTTON */

.ytp-button.ytp-next-button {
    display: none !important;
}

/* TIME DISPLAY */

.ytp-chrome-bottom .ytp-time-display span {
    font-size: 14px;
}

.ytp-chrome-bottom .ytp-time-display {
	line-height: 47px !important;
	padding: 0px 10px;
	margin-top: -8px;
	font-size: 12px;
	height: 50px;
}

.ytp-time-current {
	color: var(--pt-progress-text) !important;
    text-shadow: none;
}

.ytp-time-separator, .ytp-time-duration {
	color: var(--pt-alt-progress-text) !important;
    text-shadow: none;
}

/* CHAPTER TITLE */

.ytp-chrome-bottom .ytp-chapter-title.ytp-button {
    color: var(--pt-progress-text) !important;
    font-size: 14px !important;
    width: auto !important;
}

.ytp-chapter-title-content, .sponsorChapterText {
    position: relative;
    bottom: 1px;
}

.ytp-big-mode .ytp-chapter-title-content {
	font-size: 14px;
}

.ytp-chapter-container .ytp-chapter-title-content {
  margin-bottom: 2px;
}

.ytp-chapter-container .ytp-chapter-title-prefix {
  margin-bottom: 2px;
}

/* ################################# */

/* VOLUME PANEL */

.ytp-volume-panel {
	transition: .5s !important;
    position: relative;
    padding-left: 6px;
    top: 2px;
}

.ytp-big-mode .ytp-volume-panel {
	top: -1px;
}

.ytp-volume-slider {
    left: 1px;
    bottom: 34px;
}

.ytp-big-mode .ytp-volume-panel .ytp-volume-slider {
	min-height: 50px !important;
}

.ytp-volume-panel:before {
    content: '';
    display: block;
    position: relative;
    right: 6px;
    width: 4px;
    height: 100%;
    background: linear-gradient(90deg, #0b0b0b45, #00000000);
}

.ytp-volume-panel:after {
    content: '';
    display: none;
}

.ytp-volume-slider-active .ytp-volume-panel:after {
	content: '';
	display: block;
	position: relative;
	bottom: 70px;
	left: 54px;
	width: 4px;
	height: 110%;
	background: linear-gradient(90deg, #0b0b0b45, #00000000);
}

.ytp-big-mode .ytp-volume-slider-active .ytp-volume-panel:after {
	content: '';
	display: block;
	position: relative;
	bottom: 88px;
	left: 74px;
	width: 4px;
	height: 120%;
	background: linear-gradient(90deg, #0b0b0b45, #00000000);
}

.ytp-volume-slider-active .ytp-volume-panel {
    width: 48px !important;
}

.ytp-big-mode .ytp-volume-slider-active .ytp-volume-panel {
    width: 68px !important;
}

.ytp-volume-panel .ytp-volume-slider-handle {
	position: absolute;
    border: solid #969393 1px;
    border-radius: 0;
    margin-top: -8px;
    background: #ddd;
    height: 17px;
    width: 5px;
    top: 37.5%;
}

.ytp-volume-slider-handle::before {
	background: var(--pt-volume-slider);
    height: 5px;
}

.ytp-volume-slider-handle::after {
    height: 5px;
    background: black !important;
}

.ytp-big-mode .ytp-volume-panel .ytp-volume-slider-handle {
	position: absolute;
    top: 20%;
    margin-top: 0px !important;
    height: 14px !important;
    width: 5px !important;
    background: rgb(221, 221, 221);
    border-radius: 0px !important;
}

.ytp-big-mode .ytp-volume-slider-handle:before {
    width: 64px;
	height: 4px !important;
}

.ytp-volume-panel .ytp-volume-slider-handle::before {
	left: -64px;
}

/* ################################# */

/* RIGHT BUTTONS */

.ytp-right-controls {
	position: relative !important;
	padding-right: 0px;
}

/* SUBTITLES BUTTON */

.ytp-subtitles-button.ytp-button[title="Subtitles/closed captions unavailable"] {
	display: none;
}

.ytp-subtitles-button.ytp-button::after {
	display: none !important;
}

/* SETTINGS BUTTON */

.ytp-settings-button.ytp-hd-quality-badge:after {
	background-color: var(--pt-setting-after-label);
	top: 4px !important;
}

.ytp-big-mode .ytp-button.ytp-settings-button::after {
	font-size: 8px !important;
	right: 2px !important;
	top: 5px !important;
}

/* WATCH ON YOUTUBE BUTTON (only introduced in 2012) */

.ytp-button.ytp-youtube-button {
	display: none;
}

/* DISPLAY NONE OF THESE */

.ytp-fullerscreen-edu-button,
.ytp-multicam-button,
.ytp-multicam-button,
.ytp-miniplayer-button,
.ytp-remote-button {
	display: none !important;
}

/* ################################# */

/* TOP BUTTONS */

.ytp-gradient-top {
	display: none;
}

/* Disable all of these for 2010 */
.ytp-playlist-menu-button.ytp-button,
.ytp-title-channel,
.ytp-title,
.ytp-watch-later-button.ytp-button,
.ytp-button.ytp-copylink-button,
.ytp-button.ytp-overflow-button
{
    display: none !important;
}

.ytp-button.ytp-share-button {
    background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
    background-position: 2px -524px;
    background-size: 220px;
    width: 40px !important;
    height: 40px !important;
}

.ytp-button.ytp-cards-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
	background-position: 5px -512px;
	transition: .5s !important;
	background-size: 200px;
	width: 40px !important;
	height: 40px !important;
	bottom: 0px;
}

/* ################################# */

/* TOOLTIPS */

.ytp-tooltip.ytp-bottom {
	margin-top: 4px;
}

.ytp-tooltip-text-wrapper .ytp-tooltip-text {
	background-color: rgb(28, 28, 28);
}

/* ################################# */

/* SETTINGS MENU */

.ytp-popup {
	background: var(--pt-settings-bg) !important;
}

.ytp-popup.ytp-settings-menu {
	bottom: 45px !important;
    border-radius: 0 !important;
}

.ytp-settings-menu .ytp-panel {
    min-width: 225px !important;
}

.ytp-popup.ytp-settings-menu .ytp-panel-menu {
	padding: 0px !important;
}

.ytp-popup.ytp-settings-menu .ytp-menuitem-icon {
	display: none !important;
}

.ytp-popup.ytp-settings-menu .ytp-menuitem .ytp-menuitem-label {
	padding-left: 20px !important;
}

.ytp-popup.ytp-settings-menu .ytp-menuitem[role="menuitemradio"] .ytp-menuitem-label {
	padding-left: 35px !important;
}

/* ################################# */

/* CONTEXT MENU */

.ytp-contextmenu.ytp-popup.ytp-contextmenu {
	background: rgb(255, 255, 255) !important;
	outline: 2px solid #dfdfdf;
	height: 230px !important;
	width: 267px !important;
	text-shadow: 0 0 0;
	transition: none;
}

.ytp-contextmenu .ytp-panel {
	height: 100% !important;
	width: 100% !important;
}

.ytp-contextmenu .ytp-panel .ytp-panel-menu {
	height: 230px !important;
	padding: 0;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem {
	height: 30px;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem:hover {
	background: #4f4f4f;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem-icon {
	display: none;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem-label {
	padding-left: 10px !important;
	font-size: 130%;
	padding: 0 5px;
	color: gray;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem-label:hover {
	color: white;
}

.ytp-big-mode .ytp-menuitem-label {
	font-size: 90% !important;
}
  
.ytp-big-mode.ytp-contextmenu.ytp-popup.ytp-contextmenu {
	height: 240px !important;
}

.ytp-big-mode.ytp-contextmenu .ytp-panel {
	height: 240px !important;
}

.ytp-big-mode.ytp-contextmenu .ytp-panel .ytp-panel-menu {
	height: 240px !important;
}

/* ################################# */

/* EMBEDDED VIDEO */

.ytp-embed .ytp-large-play-button {
	background: url('chrome-extension://__MSG_@@extension_id__/img/embed-play.png') center no-repeat;
	background-size: contain;
}

.ytp-embed .ytp-title-channel {
	display: none;
}

.ytp-embed .ytp-title-text {
	margin-top: 9px;
}

.ytp-embed .ytp-chrome-bottom {
	transition: .5s !important;
	width: inherit !important;
	height: 35px !important;
	left: unset !important;
}

.ytp-embed .ytp-chrome-bottom .ytp-chapters-container {
	width: 100% !important;
}

.ytp-pause-overlay {
	display: none;
}

.ytp-button.ytp-share-button.ytp-share-button-visible.ytp-show-share-title {
    min-width: 0;
    max-width: 35px;
    background-position: -1px -524px;
}

/* ################################# */