/* PLAYER BASE */

:root {
	--pt-background: rgb(28, 28, 28);
	--pt-main-colour: #b91f1f;
	--pt-alt-colour: rgba(255,255,255,.4);
	--pt-volume-slider: #b91f1f;
	--pt-progress-bar-bg: rgb(66, 66, 66);
	--pt-progress-text: #fff;
	--pt-alt-progress-text: #969696;
	--pt-settings-bg: rgb(35, 35, 35);
}

/* PROGRESS BAR */

.ad-interrupting .ytp-play-progress.ytp-swatch-background-color {
    background: #fc0 !important;
}

/* ################################# */

/* PREV BUTTON */

.ytp-button.ytp-prev-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
	background-position: 4px -1px;
	background-size: 200px;
}

/* PLAY BUTTON */

.ytp-button.ytp-play-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
	background-position: -50px -1330px;
	background-size: 200px;
	width: 55px !important;
}

.ytp-button.ytp-play-button[data-title-no-tooltip="Play"] {
	background-position: -122px -446px;
}

.ended-mode .ytp-button.ytp-play-button {
	background-position: -48px -634px;
}

/* NEXT BUTTON */

.ytp-button.ytp-next-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
	background-position: 4px -1216px;
	background-size: 200px;
	width: 45px !important;
}	

/* VOLUME BUTTON */
/* DEFAULT */
.ytp-button.ytp-mute-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
	background-position: -113px -154.5px;
	background-size: 200px;
	width: 45px !important;
}

.ytp-button.ytp-mute-button:hover {
	background-position: -155px -1000px !important;
}

/* MEDIUM VOLUME */
.ytp-volume-area[simplevolumenow="med"] .ytp-button.ytp-mute-button {
    background-position: -113px -408.5px;
}

/* LOW VOLUME */
.ytp-volume-area[simplevolumenow="low"] .ytp-button.ytp-mute-button {
    background-position: -113px -408.5px;
}

/* MUTE */
.ytp-button.ytp-mute-button[title="Unmute (m)"] {
	background-position: -155px -1000px;
}

.ytp-button.ytp-mute-button[data-title-no-tooltip="Unmute"]:hover {
	background-position: -113px -154.5px;
}

/* ################################# */

/* VOLUME PANEL */

.ytp-volume-panel .ytp-volume-slider-handle {
	background: #ddd !important;
}

.ytp-volume-slider-handle::after {
    background: black !important;
}

.ytp-big-mode .ytp-volume-panel .ytp-volume-slider-handle {
	background: #ddd !important;
}

/* ################################# */

/* SUBTITLES BUTTON */

.ytp-subtitles-button.ytp-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
	background-position: -116px -998px;
	background-size: 200px;
	bottom: 5px;
}

.ytp-subtitles-button.ytp-button[aria-pressed=true] {
	filter: brightness(1.5);
}

/* SETTINGS BUTTON */

.ytp-button.ytp-settings-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
	background-position: -157.5px -521px;
	background-size: 200px;
	bottom: 5px;
}

.ytp-button.ytp-settings-button[aria-expanded="true"] {
	filter: brightness(1.5);
}

.ytp-big-mode .ytp-button.ytp-settings-button::after {
	font-size: 8px !important;
	right: 2px !important;
	top: 5px !important;
}

/* THEATER BUTTON */

.ytp-button.ytp-size-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
	background-size: 200px;
	bottom: 5px;
}

.ytp-button.ytp-size-button, .ytp-button.ytp-size-button[aria-label="Default view keyboard shortcut t"]:hover {
	background-position: -158px -484px !important;
}

.ytp-button.ytp-size-button:hover, .ytp-button.ytp-size-button[title="Default view (t)"] {
	background-position: -43px 0px !important;
}

/* WATCH ON YOUTUBE BUTTON (usually displayed on embed videos) */

.ytp-button.ytp-youtube-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
	background-position: -120px -268px;
	position: sticky !important;
	width: 55px !important;
	background-size: 200px;
	bottom: 5px;
}

/* FULLSCREEN BUTTON */

.ytp-button.ytp-fullscreen-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
	background-position: -116px -523px;
	background-size: 200px;
	bottom: 5px;
}

.ytp-button.ytp-fullscreen-button[title="Exit full screen (f)"] {
	background-position: -114px -1149px;
}

/* WATCH LATER (custom made) */

.ytp-button.playertube-watchlater {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
	background-position: -56px -1099px;
	background-size: 200px;
	display: inline-block;
	bottom: 5px;
}

/* ################################# */

/* TOP BUTTONS */

.ytp-chrome-top {
	background: #1b1b1bed;
}

.ytp-title-text {
	color: #cacaca;
}

.ytp-title-link.yt-uix-sessionlink.ytp-title-fullerscreen-link:hover {
	color: #cacaca;
}

/* ################################# */

/* TOOLTIPS */

.ytp-tooltip-text-wrapper .ytp-tooltip-text {
	background-color: rgb(28, 28, 28);
}

/* ################################# */

/* CONTEXT MENU */

.ytp-contextmenu.ytp-popup.ytp-contextmenu {
	background: rgb(255, 255, 255) !important;
	outline: 2px solid #dfdfdf;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem:hover {
	background: #4f4f4f;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem-label {
	color: gray;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem-label:hover {
	color: white;
}

/* ################################# */