/* PLAYER BASE */

:root {
	--pt-background: linear-gradient(rgb(38 38 38), rgb(12 12 12));
	--pt-main-colour: linear-gradient(180deg, #b22427, #751819);
	--pt-alt-colour: rgba(255,255,255,.4);
	--pt-volume-slider: linear-gradient(180deg, #b22427, #751819);
	--pt-main-colour-solid: #901b1d;
	--pt-progress-bar-bg: rgb(34 34 34);
	--pt-progress-bar-unfocused-height: 3px;
	--pt-progress-bar-full-height: 10px;
	--pt-progress-text: #fff;
	--pt-alt-progress-text: #969696;
	--pt-settings-bg: rgb(35, 35, 35);
	--pt-setting-after-label: #b91f1f;
}

.ytp-chrome-controls {
	background: var(--pt-background);
	box-shadow: inset 0px 1px 0px 0px #ffffff33;
	height: inherit;
}

.ytp-gradient-bottom {
	background: none !important;
}

#movie_player.html5-video-player .ytp-chrome-bottom {
	height: 32px !important;
	width: 100% !important;
    left: 0 !important;
}

/* PROGRESS BAR */

#movie_player .ytp-chrome-bottom .ytp-progress-bar-container {
	width: 100% !important;
	border-bottom: 1px solid #181818;
	bottom: 32px !important;
	height: var(--pt-progress-bar-unfocused-height);
}

.ytp-chrome-bottom .ytp-chapters-container {
	width: fit-content !important;
	margin-top: 1px;
}

/* Make sure YouTube doesn't fuck with these */
.ytp-chapter-hover-container.ytp-exp-chapter-hover-container {
    transform: scale(1) !important;
}

.ytp-progress-bar-container:hover:not([aria-disabled=true]) .ytp-exp-chapter-hover-effect {
	transform: scaleY(1) !important;
}

.ytp-chapter-hover-container.ytp-exp-chapter-hover-effect {
	transform: scaleY(1) !important;
}

.ytp-chapter-hover-container.ytp-exp-chapter-hover-effect:hover {
    transform: scaleY(1) !important;
}

/* this is only used in embeds & fullscreen */
.ytp-embed .ytp-chrome-bottom .ytp-progress-bar:after,
.ytp-big-mode .ytp-chrome-bottom .ytp-progress-bar:after {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: var(--pt-progress-bar-full-height);
    background: var(--pt-progress-bar-bg);
    margin-top: -10px;
    right: 0;
    bottom: -3px;
    transform: scaleY(.4);
}

.ytp-big-mode .ytp-chrome-bottom .ytp-progress-bar:after {
	width: 48px;
}

.ytp-chrome-bottom .ytp-progress-bar.finished:after {
    background: var(--pt-main-colour) !important;
}

.ytp-chrome-bottom .ytp-progress-bar .ytp-load-progress {
    background: var(--pt-alt-colour)
}

.ytp-chrome-bottom .ytp-progress-bar:hover:after {
	transform: scaleY(1);
}

.ytp-chrome-bottom .ytp-progress-bar:hover:after {
	bottom: 0;
}

.ytp-chrome-bottom .ytp-progress-bar {
	transition: .5s;
}

.ytp-chrome-bottom .ytp-progress-bar:hover,
.html5-video-player[pt-video-hover="true"] .ytp-progress-bar-container,
.html5-video-player[pt-video-hover="true"] .ytp-progress-bar
{
	height: var(--pt-progress-bar-full-height);
}

.ytp-progress-list {
	background: var(--pt-progress-bar-bg) !important;
	transform: scaleY(1);
}

.ytp-progress-list {
	background: var(--pt-progress-bar-bg) !important;
}

.ytp-timed-markers-container {
    transform: scaleY(1);
    top: 0;
}

/* for big mode */

.ytp-big-mode .ytp-chrome-bottom .ytp-progress-bar-container {
    bottom: 30px !important;
}

.ytp-big-mode .ytp-progress-bar {
	height: 5px !important;
}

.ytp-big-mode .ytp-progress-bar:hover {
	height: var(--pt-progress-bar-full-height) !important;
}

.ytp-play-progress.ytp-swatch-background-color, .ytp-hover-progress.ytp-hover-progress-light {
	background: var(--pt-main-colour);
}

/* other */

.ad-interrupting .ytp-play-progress.ytp-swatch-background-color {
    background: #fc0 !important;
}

.iv-branding .branding-context-container-inner {
	display: none !important;
}

.ytp-player-content.ytp-iv-player-content {
	transition: .5s !important;
}

/* ################################# */

/* AUTO-HIDE PLAYER */

.ytp-chrome-bottom {
    bottom: 0;
    transition: all .5s cubic-bezier(0.0,0.0,0.2,1) !important;
}

.ytp-autohide:not(.ytp-watch-controls) .ytp-chrome-bottom, .ytp-chrome-bottom[aria-hidden=true] {
    opacity: 1 !important;
    bottom: -40px;
}

.ytp-autohide:not(.ytp-watch-controls)[pt-video-hover="true"] .ytp-progress-bar-container,
.ytp-autohide:not(.ytp-watch-controls)[pt-video-hover="true"] .ytp-progress-bar {
	height: var(--pt-progress-bar-unfocused-height) !important;
}

.ytp-big-mode.ytp-autohide:not(.ytp-watch-controls) .ytp-chrome-bottom, .ytp-big-mode .ytp-chrome-bottom[aria-hidden=true] {
    opacity: 1 !important;
    bottom: -41px;
}

.ytp-progress-bar-container {
    transition: all .5s cubic-bezier(0.0,0.0,0.2,1) !important;
}

.ytp-autohide .ytp-progress-bar {
    height: 5px;
}

.ytp-autohide .ytp-player-content:not(.html5-endscreen) {
    transition: bottom .5s cubic-bezier(0.0,0.0,0.2,1), top .5s cubic-bezier(0.0,0.0,0.2,1);
}

.ytp-autohide:not(.ytp-ad-overlay-open) .ytp-subtitles-player-content:not(.html5-endscreen):not(.ytp-iv-player-content) {
    bottom: 1em !important;
}

/* ################################# */

/* SCRUBBER */

.ytp-scrubber-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-scrubber.png) !important;
	background-position: 0px 0px !important;
	background-size: 18px !important;
	height: 18px !important;
	width: 18px !important;
	border: none;
	position: relative;
}

.ytp-scrubber-button:hover {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-scrubber-hover.png) !important;
	background-position: 0px 0px !important;
	background-size: 18px !important;
	height: 18px !important;
	width: 18px !important;
}

.ytp-scrubber-button.ytp-swatch-background-color {
	background-color: transparent !important;
}

.ytp-scrubber-container {
	width: 0px;
	height: 0px;
	top: 5px;
	left: 0px;
	margin-top: -5px;
	justify-items: center;
	overflow: hidden;
	transition: width .5s, height .5s, top .5s, left .5s !important;
}

.ytp-progress-bar:hover .ytp-scrubber-container,
.html5-video-player[pt-video-hover="true"] .ytp-scrubber-container
{
	width: 18px;
	height: 18px;
	top: 1px;
	left: -15px;
}

.ytp-big-mode .ytp-scrubber-button {
	left: 0px !important;
	top: 0px !important;
}

.ytp-progress-bar-container:hover:not([aria-disabled=true]) .ytp-scrubber-button.ytp-scrubber-button-hover {
	transform: scale(1) !important;
}

/* ################################# */

/* HEAT MAP */

.ytp-progress-bar-container .ytp-heat-map-container {
    top: -45px;
}

.ytp-heat-map-chapter.ytp-heatmap-hover {
    bottom: 0px !important;
}

/* ################################# */

/* BUTTONS BASE */

.ytp-chrome-controls .ytp-left-controls {
	top: 1px;
	padding-left: 0;
}

.ytp-larger-tap-buttons .ytp-chrome-bottom {
	transition: .5s !important;
	width: inherit !important;
	height: 35px !important;
	left: unset !important;
}

.ytd-channel-video-player-renderer .ytp-chrome-bottom {
	height: 35px !important;
}

.ytp-larger-tap-buttons .ytp-chrome-bottom .ytp-chrome-controls {
	position: relative;
	transition: .5s;
	height: 35px;
}

.ytp-chrome-bottom .ytp-button, .ytp-chrome-top .ytp-button {
	position: sticky !important;
	height: 30px !important;
	width: 35px !important;
	bottom: 9px;
}

.ytp-chrome-bottom .ytp-right-controls .ytp-button {
	width: 35px;
}

.ytp-autohide .ytp-chrome-top {
    display: none;
}

.ytp-button svg {
	display: none;
}

.ytp-button.ytp-sb.ytp-sb-subscribed {
	width: auto;
}

.ytp-button:hover {
    filter: brightness(1.15);
}

/* ################################# */

/* LEFT BUTTONS */

.ytp-left-controls {
	position: relative;
	padding-left: 10px;
	top: 0;
}

/* PREV BUTTON */

.ytp-button.ytp-prev-button {
	display: none !important;
}

/* PLAY BUTTON */

.ytp-button.ytp-play-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) !important;
	background-position: -79px 153.5px !important;
	background-size: 210px !important;
	width: 55px !important;
}

.ytp-button.ytp-play-button:hover {
    filter: brightness(1.5);
}

.ytp-button.ytp-play-button[data-title-no-tooltip="Play"] {
	background-position: -114px 91.5px !important;
}

.ended-mode .ytp-button.ytp-play-button {
	background-position: -114px 27px !important;
}

/* NEXT BUTTON */
.ytp-button.ytp-next-button {
    display: none !important;
}	

/* VOLUME BUTTON */
/* DEFAULT */
.ytp-button.ytp-mute-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) !important;
	background-position: -175px -296px !important;
	background-size: 210px !important;
	width: 40px !important;
}

.ytp-button.ytp-mute-button:hover {
	background-position: -138px -17px !important;
    filter: brightness(1.5) !important;
}

/* MEDIUM VOLUME */
.ytp-volume-area[simplevolumenow="med"] .ytp-button.ytp-mute-button {
    background-position: -138px -296px !important;
}

/* LOW VOLUME */
.ytp-volume-area[simplevolumenow="low"] .ytp-button.ytp-mute-button {
    background-position: -138px -296px !important;
}

/* MUTE */
.ytp-button.ytp-mute-button[title="Unmute (m)"] {
	background-position: -138px -17px !important;
}

.ytp-button.ytp-mute-button[data-title-no-tooltip="Unmute"]:hover {
	background-position: -175px -296px !important;
    filter: brightness(1.5);
}

/* TIME DISPLAY */

#movie_player .ytp-chrome-bottom .ytp-time-display {
	line-height: 47px !important;
	padding: 0px 10px;
	margin-top: -8px;
	font-size: 12px;
	height: 46px;
}

.ytp-time-current {
	color: var(--pt-progress-text) !important;
	text-shadow: none;
}

.ytp-time-separator, .ytp-time-duration {
	color: var(--pt-alt-progress-text) !important;
	text-shadow: none;
}

/* CHAPTER TITLE */

.ytp-chrome-bottom .ytp-chapter-title.ytp-button {
	top: 3px;
    width: auto !important;
}

.ytp-big-mode .ytp-chapter-title {
	font-size: 14px;
}

.ytp-chrome-bottom .ytp-chapter-container {
    color: var(--pt-progress-text) !important;
}

.ytp-chapter-container .ytp-chapter-title-content {
  margin-bottom: 2px;
}

.ytp-chapter-container .ytp-chapter-title-prefix {
  margin-bottom: 2px;
}

/* ################################# */

/* VOLUME PANEL */

.ytp-volume-panel {
	transition: .5s !important;
	position: relative;
	padding-left: 8px;
    bottom: 1px
}

.ytp-volume-slider-active .ytp-volume-panel {
	width: 46px !important;
}

.ytp-big-mode .ytp-volume-slider-active .ytp-volume-panel {
	width: 68px !important;
}

.ytp-big-mode .ytp-volume-panel .ytp-volume-slider {
	min-height: 50px !important;
}

.ytp-volume-panel .ytp-volume-slider-handle {
	position: absolute;
	border-radius: 2px;
	margin-top: 0;
	background: #ddd;
	height: 14px;
	width: 5px;
	top: 25%;
}

.ytp-volume-slider-handle::before {
	width: 58px;
	background: var(--pt-volume-slider);
    height: 5px;
}

.ytp-volume-slider-handle::after {
    height: 5px;
    background: black;
}

.ytp-big-mode .ytp-volume-panel .ytp-volume-slider-handle {
	border-radius: 0px !important;
	margin-top: 0 !important;
	height: 14px !important;
	width: 5px !important;
	position: absolute;
	background: #ddd;
	top: 20%;
}

.ytp-big-mode .ytp-volume-slider-handle:before {
    width: 86px;
    height: 4px !important;
}

.ytp-big-mode .ytp-volume-slider-handle::after {
	left: 0px;
}

/* ################################# */

/* RIGHT BUTTONS */

.ytp-right-controls {
	top: 1px;
	position: relative !important;
	padding-right: 0px;
}

.ytp-big-mode .ytp-right-controls .ytp-button {
    width: 40px !important;
}

/* SUBTITLES BUTTON */

.ytp-button.ytp-subtitles-button {
    background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
    background-position: -69.5px -222px;
    background-size: 200px;
    bottom: 5px;
}

.ytp-button.ytp-subtitles-button:hover {
    filter: brightness(1.5);
}

.ytp-button.ytp-subtitles-button[aria-pressed=true] {
	background-position: -34.5px -163px !important;
}

.ytp-button.ytp-subtitles-button[aria-pressed=true]:hover {
	filter: brightness(1) !important;
}

.ytp-button.ytp-subtitles-button[title="Subtitles/closed captions unavailable"] {
	display: none !important;
}

.ytp-button.ytp-subtitles-button::after {
	display: none !important;
}

/* SETTINGS BUTTON */

.ytp-button.ytp-settings-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat !important;
	background-position: -166px -134px !important;
	background-size: 200px !important;
	bottom: 5px !important;
}

.ytp-button.ytp-settings-button:hover, .ytp-button.ytp-settings-button[aria-expanded="true"] {
    filter: brightness(1.5);
}

.ytp-button.ytp-settings-button:after {
    background-color: var(--pt-setting-after-label);
	top: 4px !important;
}

.ytp-big-mode .ytp-button.ytp-settings-button::after {
	font-size: 8px !important;
	right: 2px !important;
	top: 5px !important;
}

/* THEATER BUTTON */

.ytp-button.ytp-size-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
	background-size: 200px;
	bottom: 5px;
}

.ytp-button.ytp-size-button, .ytp-button.ytp-size-button[aria-label="Default view keyboard shortcut t"]:hover {
	background-position: -61px -135.5px !important;
}

.ytp-button.ytp-size-button:hover, .ytp-button.ytp-size-button[title="Default view (t)"] {
	background-position: -96.5px -17.5px !important;
}

.ytp-button.ytp-size-button:hover, .ytp-button.ytp-size-button[aria-label="Default view keyboard shortcut t"]:hover {
	filter: brightness(1.5);
}

/* WATCH ON YOUTUBE BUTTON (only introduced in 2013) */

.ytp-button.ytp-youtube-button {
	display: none;
}

/* FULLSCREEN BUTTON */

.ytp-button.ytp-fullscreen-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
	background-position: -96px -135.5px;
	background-size: 200px;
	bottom: 5px;
}

.ytp-button.ytp-fullscreen-button:hover {
    filter: brightness(1.5)
}

.ytp-button.ytp-fullscreen-button[data-title-no-tooltip="Exit full screen"] {
	background-position: 3.5px -76px;
}

/* WATCH LATER (moved from chrome-top) */

.ytp-button.playertube-watchlater {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat !important;
	background-position: 1px -282px !important;
	background-size: 200px !important;
	display: inline-block;
	bottom: 5px;
}

.ytp-button.playertube-watchlater:hover {
	filter: brightness(1.5);
}

/* DISPLAY NONE OF THESE */

.ytp-fullerscreen-edu-button, .ytp-multicam-button, .ytp-multicam-button, .ytp-miniplayer-button, .ytp-remote-button {
	display: none !important;
}

/* ################################# */

/* TOP BUTTONS */

.ytp-gradient-top {
	display: none;
}

.ytp-chrome-top {
	background: #1b1b1bed;
	right: 0px !important;
	left: 0px !important;
	padding: 0px 10px;
	height: 40px;
}

.ytd-channel-video-player-renderer .ytp-chrome-top {
	display: none; /* this should only affect channel trailers. */
}

.ytp-big-mode .ytp-chrome-top .ytp-button {
	padding-top: 0px;
}

.ytp-chrome-top .ytp-playlist-menu-button {
    background: url(chrome-extension://__MSG_@@extension_id__/img/2013-icons.png) no-repeat;
    background-position: -78px -914px;
    transition: .5s !important;
    background-size: 220px;
    width: 40px !important;
    bottom: 5px;
}

.ytp-title-text {
	padding: 0px !important;
	color: #cacaca;
}

.ytp-title-link {
    position: relative;
    width: fit-content;
    font-size: 18px;
    top: 8px;
}

.ytp-title-link.yt-uix-sessionlink.ytp-title-fullerscreen-link:hover {
	cursor: pointer;
	color: #cacaca;
}

.ytp-chrome-top .ytp-button.ytp-share-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2013-icons.png) no-repeat;
	background-position: 2px -524px;
	transition: .5s !important;
	background-size: 220px;
	width: 40px !important;
	bottom: 5px;
}

.ytp-chrome-top .ytp-button.ytp-share-button svg {
	display: none;
}

.ytp-chrome-top .ytp-button.ytp-cards-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2013-icons.png) no-repeat;
	background-position: 5px -512px;
	transition: .5s !important;
	background-size: 200px;
	width: 40px !important;
	bottom: 5px;
}

.ytp-button.ytp-watch-later-button {
	display: none !important;
}

.ytp-share-panel-service-button svg {
	display: inherit;
}

.ytp-share-panel-close svg {
	margin: 0px 6px
}

/* ################################# */

/* TOOLTIPS */

.ytp-tooltip.ytp-bottom {
	margin-top: 4px;
}

.ytp-tooltip-text-wrapper .ytp-tooltip-text {
	background-color: rgb(28, 28, 28);
}

/* ################################# */

/* SETTINGS MENU */

.ytp-popup {
	background: var(--pt-settings-bg) !important;
}

.ytp-popup.ytp-settings-menu {
	bottom: 35px !important;
    border-radius: 0 !important;
}

.ytp-popup.ytp-settings-menu .ytp-panel-menu {
	padding: 0px !important;
}

.ytp-popup.ytp-settings-menu .ytp-menuitem-icon {
	display: none !important;
}

.ytp-popup.ytp-settings-menu .ytp-menuitem .ytp-menuitem-label {
	padding-left: 20px !important;
}

.ytp-popup.ytp-settings-menu .ytp-menuitem[role="menuitemradio"] .ytp-menuitem-label {
	padding-left: 35px !important;
}

/* ################################# */

/* CONTEXT MENU */

.ytp-contextmenu.ytp-popup.ytp-contextmenu {
	background: rgb(255, 255, 255) !important;
	outline: 2px solid #dfdfdf;
	height: 230px !important;
	width: 267px !important;
	text-shadow: 0 0 0;
	transition: none;
}

.ytp-contextmenu .ytp-panel {
	height: 100% !important;
	width: 100% !important;
}

.ytp-contextmenu .ytp-panel .ytp-panel-menu {
	height: 230px !important;
	padding: 0;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem {
	height: 30px;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem:hover {
	background: #4f4f4f;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem-icon {
	display: none;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem-label {
	padding-left: 10px !important;
	font-size: 130%;
	padding: 0 5px;
	color: gray;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem-label:hover {
	color: white;
}

.ytp-big-mode .ytp-menuitem-label {
	font-size: 90% !important;
}
  
.ytp-big-mode.ytp-contextmenu.ytp-popup.ytp-contextmenu {
	height: 240px !important;
}

.ytp-big-mode.ytp-contextmenu .ytp-panel {
	height: 240px !important;
}

.ytp-big-mode.ytp-contextmenu .ytp-panel .ytp-panel-menu {
	height: 240px !important;
}

/* ################################# */

/* EMBEDDED VIDEO */

.ytp-embed .ytp-large-play-button {
	background: url('chrome-extension://__MSG_@@extension_id__/img/embed-play.png') center no-repeat;
	background-size: contain;
}

.ytp-embed .ytp-title-channel {
	display: none;
}

.ytp-embed .ytp-chrome-bottom {
	transition: .5s !important;
	width: inherit !important;
	height: 35px !important;
	left: unset !important;
}

.ad-interrupting .ytp-chrome-bottom .ytp-chapters-container,
.ytp-embed .ytp-chrome-bottom .ytp-chapters-container {
	width: 100% !important;
}

.ytp-pause-overlay {
	display: none;
}

.ytp-button.ytp-share-button.ytp-share-button-visible.ytp-show-share-title {
    min-width: 0;
    max-width: 35px;
    background-position: -1px -524px;
}

.ytp-embed .ytp-left-controls, .ytp-embed .ytp-right-controls {
	top: 3px;
}

/* ################################# */

/* 3rd-party extensions */

.ytp-chrome-bottom[data-pt-fakebar] #previewbar {
	top: 1px;
}

.ytp-big-mode .ytp-chrome-bottom[data-pt-fakebar] #previewbar {
	top: 0;
}

.ytp-autohide .ytp-chrome-bottom[data-pt-fakebar] #previewbar {
	top: -6px;
}

.ytp-big-mode.ytp-autohide .ytp-chrome-bottom[data-pt-fakebar] #previewbar {
    top: -9px;
}

/* ################################# */
