/* PLAYER BASE */

:root {
	--pt-background: rgba(28, 28, 28, 0.9);
	--pt-main-colour: #cc181e;
	--pt-alt-colour: rgba(255,255,255,.3);
	--pt-volume-slider: #cc181e;
	--pt-progress-bar-bg: #444;
	--pt-progress-text: #fff;
	--pt-alt-progress-text: #969696;
	--pt-settings-bg: rgb(35, 35, 35);
}

/* PROGRESS BAR */

.ad-interrupting .ytp-play-progress.ytp-swatch-background-color {
    background: #fc0 !important;
}

/* ################################# */

/* PREV BUTTON */

.html5-video-player .ytp-chrome-bottom .ytp-button.ytp-prev-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2013-icons.png) no-repeat !important;
	background-position: 1px -1px !important;
	background-size: var(--pt-icon-size) !important; 
}

/* PLAY BUTTON */

.html5-video-player .ytp-chrome-bottom .ytp-button.ytp-play-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2013-icons.png) no-repeat !important;
	background-position: -48px -1330px !important;
	width: 55px !important;
	background-size: var(--pt-icon-size) !important; 
}

/* NEXT BUTTON */

.html5-video-player .ytp-chrome-bottom .ytp-button.ytp-next-button
{
	background: url(chrome-extension://__MSG_@@extension_id__/img/2013-icons.png) no-repeat !important;
	background-position: 4px -1216px !important;
	width: 45px !important;
	background-size: var(--pt-icon-size) !important; 
}	

/* VOLUME BUTTON */

/* DEFAULT */
.html5-video-player .ytp-chrome-bottom .ytp-button.ytp-mute-button,
.html5-video-player .ytp-chrome-bottom .ytp-button.ytp-volume-icon
{
	background: url(chrome-extension://__MSG_@@extension_id__/img/2013-icons.png) no-repeat;
	background-position: -113px -154.5px !important;
	width: 45px !important;
}

/* ################################# */

/* VOLUME PANEL */

.ytp-volume-panel .ytp-volume-slider-handle {
	background: #ddd !important;
}

.ytp-volume-slider-handle::after {
    background: black !important;
}

.ytp-big-mode .ytp-volume-panel .ytp-volume-slider-handle {
	background: #ddd !important;
}

/* ################################# */

/* RIGHT BUTTONS */
/* SUBTITLES BUTTON */

.ytp-subtitles-button.ytp-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2013-icons.png) no-repeat;
	background-position: -116px -998px;
	bottom: 5px;
}

/* SETTINGS BUTTON */

.ytp-button.ytp-settings-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2013-icons.png) no-repeat;
	background-position: -157.5px -521px;
	bottom: 5px;
}

/* THEATER BUTTON */

.ytp-button.ytp-size-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2013-icons.png) no-repeat;
	bottom: 5px;
}

/* WATCH ON YOUTUBE BUTTON (usually displayed on embed videos) */

.ytp-button.ytp-youtube-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2013-icons.png) no-repeat;
	background-position: -120px -268px;
	position: sticky !important;
	width: 55px !important;
	bottom: 5px;
}

/* FULLSCREEN BUTTON */

.ytp-button.ytp-fullscreen-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2013-icons.png) no-repeat;
	background-position: -116px -523px;
	bottom: 5px;
}

/* WATCH LATER (custom made) */

.ytp-button.playertube-watchlater {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2013-icons.png) no-repeat;
	background-position: -56px -1099px;
	display: inline-block;
	bottom: 5px;
}

/* ################################# */

/* TOP BUTTONS */

.ytp-chrome-top {
	background: #1b1b1bed;
}

.ytp-title-text {
	color: #cacaca;
}

.ytp-title-link.yt-uix-sessionlink.ytp-title-fullerscreen-link:hover {
	color: #cacaca;
}

/* ################################# */

/* CONTEXT MENU */

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem:hover {
	background: #4f4f4f;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem-label {
	color: gray;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem-label:hover {
	color: white;
}

/* ################################# */