/* PLAYER BASE */

:root {
	--pt-progress-bar-unfocused-height: 3px;
	--pt-progress-bar-full-height: 10px;
	--pt-setting-after-label: #b91f1f;
	--pt-icon-size: 200px;
}

.ytp-chrome-controls {
	background: var(--pt-background);
	height: inherit !important;
}

.ytp-gradient-bottom {
	background: none !important;
}

.html5-video-player .ytp-chrome-bottom {
	height: 32px !important;
	width: 100% !important;
    left: 0 !important;
}

/* PROGRESS BAR */

.html5-video-player .ytp-chrome-bottom .ytp-progress-bar-container {
	width: 100% !important;
	bottom: 32px !important;
	height: var(--pt-progress-bar-unfocused-height);
}

.html5-video-player .ytp-chrome-bottom .ytp-chapters-container {
	width: 100% !important;
}

/* Make sure YouTube doesn't fuck with these */
.ytp-chapter-hover-container.ytp-exp-chapter-hover-container {
    transform: scale(1) !important;
}

.ytp-progress-bar-container:hover:not([aria-disabled=true]) .ytp-exp-chapter-hover-effect {
	transform: scaleY(1) !important;
}

.ytp-chapter-hover-container.ytp-exp-chapter-hover-effect {
	transform: scaleY(1) !important;
}

.ytp-chapter-hover-container.ytp-exp-chapter-hover-effect:hover {
    transform: scaleY(1) !important;
}

/* this is only used in embeds & fullscreen */
.ytp-embed .ytp-chrome-bottom .ytp-progress-bar:after,
.ytp-big-mode .ytp-chrome-bottom .ytp-progress-bar:after {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: var(--pt-progress-bar-full-height);
    background: var(--pt-progress-bar-bg);
    margin-top: -10px;
    right: 0;
    bottom: -3px;
    transform: scaleY(.4);
}

.ytp-big-mode .ytp-chrome-bottom .ytp-progress-bar:after {
	width: 48px;
}

.ytp-chrome-bottom .ytp-progress-bar.finished:after {
    background: var(--pt-main-colour) !important;
}

.ytp-chrome-bottom .ytp-progress-bar .ytp-load-progress {
    background: var(--pt-alt-colour)
}

.ytp-chrome-bottom .ytp-progress-bar:hover:after {
	transform: scaleY(1);
	bottom: 0 !important;
}

.ytp-chrome-bottom .ytp-progress-bar {
	transition: .5s;
}

.ytp-chrome-bottom .ytp-progress-bar:hover,
.html5-video-player[pt-video-hover="true"] .ytp-chrome-bottom .ytp-progress-bar-container,
.html5-video-player[pt-video-hover="true"] .ytp-chrome-bottom .ytp-progress-bar
{
	height: var(--pt-progress-bar-full-height);
}

.html5-video-player .ytp-chrome-bottom .ytp-progress-list {
	background: var(--pt-progress-bar-bg) !important;
	transform: scaleY(1) !important;
}

.html5-video-player .ytp-timed-markers-container {
    transform: scaleY(1) !important;
    top: 0;
}

.ytp-big-mode .ytp-progress-bar {
	height: 5px !important;
}

.ytp-big-mode .ytp-progress-bar:hover {
	height: var(--pt-progress-bar-full-height) !important;
}

.ytp-play-progress.ytp-swatch-background-color, .ytp-hover-progress.ytp-hover-progress-light, .ytp-hover-progress-light {
	background: var(--pt-main-colour) !important;
}

.iv-branding .branding-context-container-inner {
	display: none !important;
}

.ytp-player-content.ytp-iv-player-content {
	transition: .5s !important;
}

/* ################################# */

/* AUTO-HIDE PLAYER */

.ytp-chrome-bottom {
    bottom: 0;
    transition: all .5s cubic-bezier(0.0,0.0,0.2,1) !important;
}

.ytp-autohide:not(.ytp-watch-controls):not(.paused-mode) .ytp-chrome-bottom, .ytp-chrome-bottom[aria-hidden=true] {
    opacity: 1 !important;
    bottom: -40px;
}

.ytp-autohide:not(.ytp-watch-controls)[pt-video-hover="true"] .ytp-progress-bar-container,
.ytp-autohide:not(.ytp-watch-controls)[pt-video-hover="true"] .ytp-progress-bar {
	height: var(--pt-progress-bar-unfocused-height) !important;
}

.ytp-big-mode.ytp-autohide:not(.ytp-watch-controls):not(.paused-mode) .ytp-chrome-bottom, .ytp-big-mode .ytp-chrome-bottom[aria-hidden=true] {
    opacity: 1 !important;
    bottom: -41px;
}

.ytp-progress-bar-container {
    transition: all .5s cubic-bezier(0.0,0.0,0.2,1) !important;
}

.ytp-progress-bar {
    height: 4px;
}

.ytp-autohide .ytp-player-content:not(.html5-endscreen) {
    transition: bottom .5s cubic-bezier(0.0,0.0,0.2,1), top .5s cubic-bezier(0.0,0.0,0.2,1);
}

.ytp-autohide:not(.ytp-ad-overlay-open) .ytp-subtitles-player-content:not(.html5-endscreen):not(.ytp-iv-player-content) {
    bottom: 1em !important;
}

/* ################################# */

/* SCRUBBER */

.ytp-swatch-background-color.ytp-scrubber-button {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2013-scrubber.png) !important;
	background-position: 0px 0px !important;
	background-size: 18px !important;
	height: 18px !important;
	width: 18px !important;
	border: none;
	position: relative;
}

.ytp-swatch-background-color.ytp-scrubber-button:hover {
	background: url(chrome-extension://__MSG_@@extension_id__/img/2013-scrubber-hover.png) !important;
	background-position: 0px 0px !important;
	background-size: 18px !important;
	height: 18px !important;
	width: 18px !important;
}

.ytp-swatch-background-color.ytp-scrubber-button.ytp-swatch-background-color {
	background-color: transparent !important;
}

.ytp-scrubber-container {
	width: 0px;
	height: 0px;
	top: 5px;
	left: 0px;
	margin-top: -5px;
	justify-items: center;
	overflow: hidden;
	transition: width .5s, height .5s, top .5s, left .5s !important;
}

.html5-video-player.ytp-delhi-modern .ytp-scrubber-container {
	top: 1px !important;
	left: -2px !important;
}

.ytp-progress-bar .ytp-scrubber-container {
	width: 18px;
	height: 18px;
}

.ytp-progress-bar-container:hover:not([aria-disabled=true]) .ytp-scrubber-button.ytp-scrubber-button-hover {
	transform: scale(1) !important;
}

/* ################################# */

/* HEAT MAP */

.ytp-progress-bar-container .ytp-heat-map-container {
    top: -45px;
}

.ytp-heat-map-chapter.ytp-heatmap-hover {
    bottom: 0px !important;
}

/* ################################# */

/* BUTTONS BASE */

.ytp-larger-tap-buttons .ytp-chrome-bottom {
	transition: .5s !important;
	width: inherit !important;
	height: 35px !important;
	left: unset !important;
}

.ytd-channel-video-player-renderer .ytp-chrome-bottom {
	height: 35px !important;
}

.ytp-larger-tap-buttons .ytp-chrome-bottom .ytp-chrome-controls {
	position: relative;
	transition: .5s;
	height: 35px;
}

.ytp-chrome-bottom .ytp-button, .ytp-chrome-top .ytp-button {
	position: sticky !important;
	height: 35px !important;
	width: 40px;
	bottom: 9px;
}

.ytp-chrome-bottom .ytp-right-controls .ytp-button {
	width: 35px !important;
}

.ytp-autohide:not(.paused-mode) .ytp-chrome-top {
    display: none;
}

.html5-video-player .ytp-chrome-bottom .ytp-button {
	background-size: var(--pt-icon-size) !important;
}

.ytp-button svg {
	display: none;
}

.ytp-button.ytp-sb.ytp-sb-subscribed {
	width: auto;
}

.ytp-button:hover {
    filter: brightness(1.15);
}

/* ################################# */

/* LEFT BUTTONS */

.ytp-left-controls {
	position: relative;
	padding-left: 6px;
	top: 0;
}

/* PLAY BUTTON */

.html5-video-player .ytp-chrome-bottom .ytp-button.ytp-play-button[data-title-no-tooltip="Play"] {
	background-position: -122px -446px !important;
}

.html5-video-player.ended-mode .ytp-chrome-bottom .ytp-button.ytp-play-button {
	background-position: -48px -634px !important;
}

/* VOLUME BUTTON */
/* DEFAULT */

.html5-video-player .ytp-chrome-bottom .ytp-button.ytp-mute-button:hover,
.html5-video-player .ytp-chrome-bottom .ytp-button.ytp-volume-icon:hover
{
	background-position: -155px -1000px !important;
}

/* MEDIUM VOLUME */
.html5-video-player .ytp-chrome-bottom .ytp-volume-area[simplevolumenow="med"] .ytp-button.ytp-mute-button,
.html5-video-player .ytp-chrome-bottom .ytp-volume-area[simplevolumenow="med"] .ytp-button.ytp-volume-icon
{
    background-position: -113px -408.5px !important;
}

/* LOW VOLUME */
.html5-video-player .ytp-chrome-bottom .ytp-volume-area[simplevolumenow="low"] .ytp-button.ytp-mute-button,
.html5-video-player .ytp-chrome-bottom .ytp-volume-area[simplevolumenow="low"] .ytp-button.ytp-volume-icon
{
    background-position: -113px -408.5px !important;
}

/* MUTE */
.html5-video-player .ytp-chrome-bottom .ytp-button.ytp-mute-button[data-title-no-tooltip="Unmute"],
.html5-video-player .ytp-chrome-bottom .ytp-button.ytp-volume-icon[data-title-no-tooltip="Unmute"]
{
	background-position: -155px -1000px !important;
}

.html5-video-player .ytp-chrome-bottom .ytp-button.ytp-mute-button[data-title-no-tooltip="Unmute"]:hover,
.html5-video-player .ytp-chrome-bottom .ytp-button.ytp-volume-icon[data-title-no-tooltip="Unmute"]:hover
{
	background-position: -113px -154.5px !important;
}

/* TIME DISPLAY */

.html5-video-player .ytp-chrome-bottom .ytp-time-display {
	color: var(--pt-progress-text) !important;
	text-shadow: none !important;
	line-height: 47px !important;
    padding: 0px 10px !important;
    margin-top: -7px !important;
    font-size: 12px;
    height: 46px;
}

.ytp-time-current {
	color: var(--pt-progress-text) !important;
	text-shadow: none;
}

.ytp-time-separator, .ytp-time-duration {
	color: var(--pt-alt-progress-text) !important;
	text-shadow: none;
}

/* CHAPTER TITLE */

.ytp-chrome-bottom .ytp-chapter-title.ytp-button {
    width: auto !important;
}

.ytp-big-mode .ytp-chapter-title {
	font-size: 14px;
}

.ytp-chrome-bottom .ytp-chapter-container {
    color: var(--pt-progress-text) !important;
}

.ytp-chapter-container .ytp-chapter-title-content {
	margin-bottom: 2px;
}

.ytp-chapter-container .ytp-chapter-title-prefix {
	margin-bottom: 2px;
}

/* ################################# */

/* VOLUME PANEL */

.ytp-volume-panel {
	transition: .5s !important;
	position: relative;
	width: 0 !important;
    bottom: 1px
}

.ytp-volume-slider-active .ytp-volume-panel {
	width: 46px !important;
	margin-right: 0;
}

.ytp-big-mode .ytp-volume-slider-active .ytp-volume-panel {
	width: 68px !important;
}

.ytp-big-mode .ytp-volume-panel .ytp-volume-slider {
	min-height: 50px !important;
}

.ytp-volume-panel .ytp-volume-slider-handle {
	position: absolute;
	border-radius: 2px;
	margin-top: 0;
	height: 14px;
	width: 5px;
	top: 30%;
}

.ytp-volume-slider-handle::before {
	width: 58px;
	background: var(--pt-volume-slider);
    height: 4px;
}

.ytp-volume-slider-handle::after {
    height: 5px;
}

.ytp-big-mode .ytp-volume-panel .ytp-volume-slider-handle {
	border-radius: 0px !important;
	margin-top: 0 !important;
	height: 14px !important;
	width: 5px !important;
	position: absolute;
	top: 20%;
}

.ytp-big-mode .ytp-volume-slider-handle::before {
    width: 86px;
	height: 4px !important;
}

.ytp-big-mode .ytp-volume-slider-handle::after {
	left: 6px;
}

/* ################################# */

/* RIGHT BUTTONS */

.html5-video-player .ytp-chrome-bottom .ytp-right-controls {
	background: none;
	position: relative !important;
	margin-top: 0 !important;
	padding-right: 0px;
	bottom: 1px;
}

/* SUBTITLES BUTTON */

.ytp-subtitles-button.ytp-button[aria-pressed=true] {
	filter: brightness(1.5);
}

.ytp-subtitles-button.ytp-button[title="Subtitles/closed captions unavailable"] {
	display: none !important;
}

.ytp-subtitles-button.ytp-button::after {
	display: none !important;
}

/* SETTINGS BUTTON */

.ytp-button.ytp-settings-button[aria-expanded="true"] {
	filter: brightness(1.5);
}

.ytp-button.ytp-settings-button:after {
    background-color: var(--pt-setting-after-label);
	top: 8px !important;
}

.ytp-big-mode .ytp-button.ytp-settings-button::after {
	font-size: 8px !important;
	right: 2px !important;
	top: 5px !important;
}

/* THEATER BUTTON */

.ytp-button.ytp-size-button, .ytp-button.ytp-size-button[aria-label="Default view keyboard shortcut t"]:hover {
	background-position: -158px -484px !important;
}

.ytp-button.ytp-size-button:hover, .ytp-button.ytp-size-button[title="Default view (t)"] {
	background-position: -43px 0px !important;
}

/* FULLSCREEN BUTTON */

.ytp-button.ytp-fullscreen-button[data-title-no-tooltip="Exit full screen"] {
	background-position: -114px -1149px;
}

/* DISPLAY NONE OF THESE */

.ytp-fullerscreen-edu-button, .ytp-multicam-button, .ytp-multicam-button, .ytp-miniplayer-button, .ytp-remote-button {
	display: none !important;
}

/* ################################# */

/* TOOLTIPS */

.ytp-tooltip.ytp-bottom {
	margin-top: 4px;
}

/* ################################# */

/* CONTEXT MENU */

.ytp-contextmenu.ytp-popup.ytp-contextmenu {
	background: rgb(255, 255, 255) !important;
	outline: 2px solid #dfdfdf !important;
	height: 250px !important;
    width: 265px !important;
	border-radius: 0 !important;
	text-shadow: 0 0 0;
	transition: none;
}

.ytp-contextmenu .ytp-panel {
	height: 100% !important;
	width: 100% !important;
}

.ytp-contextmenu .ytp-panel .ytp-panel-menu {
	height: 230px !important;
	padding: 0;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem {
	height: 30px;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem-icon {
	display: none;
}

.ytp-contextmenu .ytp-panel-menu .ytp-menuitem-label {
	padding-left: 10px !important;
	font-size: 130%;
	padding: 0 5px;
	color: gray;
}

.ytp-big-mode .ytp-menuitem-label {
	font-size: 90% !important;
}

.ytp-contextmenu .ytp-menuitem[aria-checked=true] .ytp-menuitem-toggle-checkbox {
	background: url(chrome-extension://__MSG_@@extension_id__/img/inverted-check.svg);
}
  
.ytp-big-mode.ytp-contextmenu.ytp-popup.ytp-contextmenu {
	height: 240px !important;
}

.ytp-big-mode.ytp-contextmenu .ytp-panel {
	height: 240px !important;
}

.ytp-big-mode.ytp-contextmenu .ytp-panel .ytp-panel-menu {
	height: 240px !important;
}

/* ################################# */

/* EMBEDDED VIDEO */

.ytp-embed .ytp-large-play-button {
	background: url('chrome-extension://__MSG_@@extension_id__/img/embed-play.png') center no-repeat;
	background-size: contain;
}

.ytp-embed .ytp-title-channel {
	display: none;
}

.ytp-embed .ytp-chrome-bottom {
	transition: .5s !important;
	width: inherit !important;
	height: 35px !important;
	left: unset !important;
}

.ad-interrupting .ytp-chrome-bottom .ytp-chapters-container,
.ytp-embed .ytp-chrome-bottom .ytp-chapters-container {
	width: 100% !important;
}

.ytp-pause-overlay {
	display: none;
}

.ytp-button.ytp-share-button.ytp-share-button-visible.ytp-show-share-title {
    min-width: 0;
    max-width: 35px;
    background-position: -1px -524px;
}

/* ################################# */

/* 3rd-party extensions */

.ytp-chrome-bottom[data-pt-fakebar] #previewbar {
	top: 1px;
}

.ytp-big-mode .ytp-chrome-bottom[data-pt-fakebar] #previewbar {
	top: 0;
}

.ytp-autohide .ytp-chrome-bottom[data-pt-fakebar] #previewbar {
	top: -7px;
}

.ytp-big-mode.ytp-autohide .ytp-chrome-bottom[data-pt-fakebar] #previewbar {
    top: -8px;
}

/* ################################# */
