/* This style script is used for making sure
some 3rd-party scripts work with this script
correctly.

If you have any plugins/scripts you'd like to
be fixed for this script, please send a issue
on the GitHUb repo! Much thanks! */

/* YouTube Redux */
/* yes, this extension messes with this, and some other stuff too that I'll find out about */
.ytp-volume-area svg {
    transform: scale(1) !important;
}

/* SponsorBlock */
#previewbar {
    top: 0px;
    width: 98%;
}

.skipButtonControlBarContainer div {
    text-shadow: none;
    margin: auto;
    height: 18px;
    line-height: 1.3;
    font-size: 12px;
}

.ytp-button.ytp-settings-button svg[fill="white"] {
    background: #1b1b1b !important;
    display: block !important;
    height: 30px;
    fill: gray;
}

.ytp-chrome-bottom #sbSkipIconControlBarImage.ytp-button {
    height: 80% !important;
}

.ytp-time-display #sponsorBlockDurationAfterSkips {
    color: var(--alt-progress-text) !important;
    text-shadow: none;
}

.playerButton svg path {
    display: block !important;
}

#chapterVote {
    margin-left: 10px;
}

/* CustomTube */
/*
This extension for some reason likes to
resize the player when not in theater mode,
the following lines of code should fix this.
*/
ytd-app[static] #movie_player[aria-label="YouTube Video Player"] .ytp-chrome-bottom {
    width: 100% !important;
}
/* For the same extension; why CustomTube. */
html[disable-flexy-player="true"]:not([static]):not([pseudo-static]) ytd-watch-flexy:not([theater]):not([fullscreen]):not([no-top-margin]):not([reduced-top-margin]) #movie_player[aria-label="YouTube Video Player"] .ytp-chrome-bottom {
    width: 100% !important;
}
html[pseudo-static] #movie_player[aria-label="YouTube Video Player"] .ytp-chrome-bottom {
    width: 100% !important;
}

/* Truffle */
body[data-mogul-theater-mode] .html5-video-player .ytp-chrome-bottom {
    width: 100% !important;
}