/* This style script is used for making sure
some 3rd-party scripts work with this script
correctly.

If you have any plugins/scripts you'd like to
be fixed for this script, please send a issue
on the GitHUb repo! Much thanks! */

/* YouTube Redux */
/* yes, this extension messes with this, and some other stuff too that I'll find out about */
.ytp-volume-area svg {
    transform: scale(1) !important;
}

#movie_player:not(.ytp-delhi-modern) .ytp-progress-bar-container {
    bottom: inherit !important;
}

/* SponsorBlock */
#previewbar {
    top: 0px;
}

.skipButtonControlBarContainer div {
    text-shadow: none;
    margin: auto;
    height: 18px;
    line-height: 1.3;
    font-size: 12px;
}

.ytp-button.ytp-settings-button svg[fill="white"] {
    background: #1b1b1b !important;
    display: block !important;
    height: 30px;
    fill: gray;
}

.ytp-chrome-bottom #sbSkipIconControlBarImage.ytp-button {
    height: 80% !important;
}

.ytp-left-controls .ytp-time-display #sponsorBlockDurationAfterSkips,
.ytp-left-controls #skipButtonControlBarContainer 
{
    color: var(--pt-alt-progress-text) !important;
    text-shadow: none;
}

.ytp-left-controls .sponsorChapterText {
    position: relative;
    top: -2px;
}

.playerButton svg path {
    display: block !important;
}

#chapterVote {
    margin-left: 10px;
}

.UBO-ads-btn.ytp-button.hidden {
    display: none !important;
}

/* CustomTube */
/*
This extension for some reason likes to
resize the player when not in theater mode,
the following lines of code should fix this.
*/
html[disable-flexy-player="true"]:not([static]):not([pseudo-static]) ytd-watch-flexy:not([theater]):not([fullscreen]):not([no-top-margin]):not([reduced-top-margin]) #movie_player.html5-video-player[aria-label="YouTube Video Player"] .ytp-chrome-bottom {
    width: 100% !important;
}
html[static] #movie_player.html5-video-player[aria-label="YouTube Video Player"] .ytp-chrome-bottom {
    width: 100% !important;
}

/* for my theater mode gang */
html[static] ytd-watch-flexy #movie_player.html5-video-player[aria-label="YouTube Video Player"] video {
    position: relative;
    margin: auto !important;
    width: 100% !important;
    height: 100% !important;
    max-width: none !important;
    max-height: none !important;
}
html ytd-app:not([masthead-hidden]) ytd-page-manager#page-manager {
    max-width: none !important;
}

/* Truffle */
body[data-mogul-theater-mode] ytd-watch-flexy[theater]:has(ytd-live-chat-frame:not([collapsed])) .ytd-player .ytp-chrome-bottom {
    width: 100% !important;
}