/* side menu */

#contentContainer.tp-yt-app-drawer[swipe-open].tp-yt-app-drawer::after {
    display: none;
}

/* hd icon */

.ytp-cairo-refresh .ytp-settings-button.ytp-hd-quality-badge::after, .ytp-cairo-refresh .ytp-settings-button.ytp-hdr-quality-badge::after, .ytp-cairo-refresh .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-cairo-refresh .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-cairo-refresh .ytp-settings-button.ytp-8k-quality-badge::after, .ytp-cairo-refresh .ytp-settings-button.ytp-3d-badge-grey::after, .ytp-cairo-refresh .ytp-settings-button.ytp-3d-badge::after {
    background-color: rgb(200, 0, 0) !important;
}

/* spinner */

.ytp-spinner {
    background: url("chrome-extension://__MSG_@@extension_id__/img/loading.gif") center center / contain no-repeat;
    height: 64px;
}

.ytp-spinner-container {
    display: none;
}

/* BEZEL ICONS */

.ytp-bezel[aria-label="Pause"] {
    background: url('chrome-extension://__MSG_@@extension_id__/img/big-pause.png');
    background-size: cover;
    border-radius: 0;
}

.ytp-bezel[aria-label="Play"] {
    background: url('chrome-extension://__MSG_@@extension_id__/img/big-play.png');
    background-size: cover;
    border-radius: 0;
}

.ytp-bezel-icon {
    display: none;
}

/* tooltips */

.ytp-tooltip:not(.ytp-preview) .ytp-tooltip-text-wrapper {
    border-radius: 0;
	background-color: rgb(28, 28, 28);
}
