/* side menu */

#contentContainer.tp-yt-app-drawer[swipe-open].tp-yt-app-drawer::after {
    display: none;
}

/* popout/miniplayer/minimized player buttons */

.ytp-miniplayer-ui .ytp-miniplayer-scrim .ytp-button {
    background: none !important;
}

.ytp-miniplayer-ui .ytp-miniplayer-scrim .ytp-button svg,
.ytp-miniplayer-ui .ytp-miniplayer-scrim .ytp-button svg path
{
    display: block !important;
    background: none !important;
}

/* progress bar scrubber */

.html5-video-player .ytp-scrubber-button {
    transform: scale(0);
    transition: transform .5s;
}

.html5-video-player .ytp-progress-bar-container:hover .ytp-scrubber-button,
.html5-video-player .ytp-scrubber-button:hover
{
    transform: scale(1);
}

.html5-video-player.ytp-big-mode .ytp-swatch-background-color.ytp-scrubber-button {
    bottom: 0;
    left: 0;
}

/* show thumbnail in unstarted mode */

.html5-video-player.unstarted-mode .video-stream.html5-main-video {
    opacity: 0;
}

/* hd icon */

.ytp-cairo-refresh .ytp-settings-button.ytp-hd-quality-badge::after, .ytp-cairo-refresh .ytp-settings-button.ytp-hdr-quality-badge::after, .ytp-cairo-refresh .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-cairo-refresh .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-cairo-refresh .ytp-settings-button.ytp-8k-quality-badge::after, .ytp-cairo-refresh .ytp-settings-button.ytp-3d-badge-grey::after, .ytp-cairo-refresh .ytp-settings-button.ytp-3d-badge::after {
    background-color: rgb(200, 0, 0) !important;
}

/* spinner */

.ytp-spinner {
    background: url("chrome-extension://__MSG_@@extension_id__/img/loading.gif") center center / contain no-repeat;
    height: 64px;
}

.ytp-spinner-container {
    display: none;
}

/* BEZEL ICONS */

.ytp-bezel[aria-label="Pause"] {
    background: url('chrome-extension://__MSG_@@extension_id__/img/big-pause.png');
    background-size: cover;
    border-radius: 0;
}

.ytp-bezel[aria-label="Play"] {
    background: url('chrome-extension://__MSG_@@extension_id__/img/big-play.png');
    background-size: cover;
    border-radius: 0;
}

.ytp-bezel-icon {
    display: none;
}

/* button hover shadows */

.ytp-button .ytp-svg-shadow {
    display: none;
}

/* right controls sides */

.html5-video-player .ytp-chrome-bottom .ytp-right-controls .ytp-right-controls-left,
.html5-video-player .ytp-chrome-bottom .ytp-right-controls .ytp-right-controls-right {
	height: 100% !important;
}

/* settings icon turn */

.ytp-settings-button[aria-expanded=true] svg {
    transform: none !important;
}

/* more video button */

.html5-video-player.ytp-big-mode .ytp-fullscreen-grid-expand-button {
    margin-top: -120px !important;
}

.html5-video-player .ytp-fullscreen-grid-expand-button.ytp-button path {
    display: block !important;
}

/* tooltips */

.ytp-tooltip:not(.ytp-preview) .ytp-tooltip-text-wrapper {
    border-radius: 0;
	background-color: rgb(28, 28, 28);
}
