/* 
    This CSS file is mainly used for when the user
    is using Project V3.
*/


/* ### for all ### */
/* progress bar */
.spitfire-body-container.v3 .html5-video-controls .ytp-progress-bar-container {
    bottom: 0 !important;
}

.spitfire-body-container.v3 .html5-video-controls .ytp-progress-list .ytp-play-progress {
    background: var(--pt-main-colour) !important;
}

.spitfire-body-container.v3 .html5-video-controls .ytp-progress-list .ytp-load-progress {
    background: var(--pt-alt-colour) !important;
}

.spitfire-body-container.v3 .html5-video-controls .ytp-progress-list .ytp-unloaded-progress {
    background: var(--pt-progress-bar-bg) !important;
}


/* ### 2012 ### */
/* base */
.spitfire-body-container.v3[pt-year="2012"] .html5-video-player .html5-video-controls {
    height: 35px !important;
}
.spitfire-body-container.v3[pt-year="2012"] .html5-video-player .html5-player-chrome {
    top: -2px;
}
.spitfire-body-container.v3[pt-year="2012"] .html5-video-player .html5-player-chrome:before {
    content: '';
    display: block;
    position: relative;
    top: 2px;
    width: 100%;
    height: 1px;
    background: #ffffff33;
}

/* volume control & panel */
.spitfire-body-container.v3[pt-year="2012"] .ytp-volume-slider-active .ytp-volume-panel {
    width: 56px !important;
}

.spitfire-body-container.v3[pt-year="2012"] .ytp-volume-panel {
    top: 2px;
}

/* buttons */
.spitfire-body-container.v3[pt-year="2012"] .ytp-subtitles-button-active {
    background: url(chrome-extension://__MSG_@@extension_id__/img/2012-icons.png) no-repeat;
    background-size: 200px;
    bottom: 5px;
}