/* Base */
@font-face {
    src: url(fonts/Chalet-NewYorkNineteenSixty.ttf);
    font-family: "lol";
}

a {
    color: #ffa7a7;
}

h1, h2, h3 {
    font-family: 'lol';
}

ul {
    margin: 0;
}

ul li {
    padding: 2px 0;
}

kbd {
    color: #d9d9d9;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #282828;
    color: white !important;
    margin: 0;
}

.important {
    color: #ffc76f;
}

.selected {
    background-color: #ffd900e6;
    color: black;
}


/* Content */
#content {
    background: #0000007d;
    margin: auto;
    padding: 1em;
    max-width: 50em;
    min-height: 100vh;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

/* top */
#top {
    width: fit-content;
    margin: auto;
    padding-bottom: 1em;
}

#top .logoandver {
    width: fit-content;
    margin: auto;
}

#top .logoandver .showVersion {
    font-family: 'lol';
    display: inline;
    position: relative;
    font-size: 40px;
    padding-left: 8px;
    bottom: 37px;
}

#top nav {
    font-weight: bold;
}

#top nav a {
    margin: 0 5px;
}

/* text */
.text {
    max-width: 40em;
    margin: auto;
}

/* Credits */
#credits {
    width: fit-content;
    padding-top: 4em;
    margin: auto;
}

#credits .text {
    font-family: 'lol';
    display: inline;
    position: relative;
    font-size: 22px;
    bottom: 24px;
    padding-right: 10px;
}