/* menu stylin' */
@font-face {
    src: url(fonts/Chalet-NewYorkNineteenSixty.ttf);
    font-family: "lol";
}

html {
    height: 29em;
}

a {
    color: #fc5454;
}

button {
    cursor: pointer;
}

h1, h2, h3 {
    margin: 0;
    font-family: 'lol';
    font-weight: 400;
}

body {
    margin: 0;
}


#yt-html5-menu-button {
    margin-right: 8px;
    margin-top: 4px;
}

#yt-html5-menu-button button {
    background: transparent;
    border: 0;
    rotate: 0deg;
    transition: all .25s;
}

#yt-html5-menu-button button img {
    height: 26px;
}


.links a {
    font-weight: 800;
    margin-right: 6px;
    font-size: 12px;
}


.menu-message {
    width: 22em;
    height: auto;
    border: solid 0.5em rgba(0, 0, 0, 0.15);
    padding: 1em;
    background: white;
    top: 0;
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 14px;
    animation: fadeIn ease .15s;
    overflow: auto;
    z-index: 10;
}

#yt-html5-menu .menu-message button {
    position: absolute;
    right: 17px;
}

#yt-html5-menu .menu-message img {
    width: 14px;
}


#yt-html5-menu {
    font-family: Arial, Helvetica, sans-serif;
    width: 22em;
    height: 30em;
    border: solid 0.5em rgba(0, 0, 0, 0.15);
    padding: 1em;
    background: white;
    color: rgb(0, 0, 0);
    font-size: 14px;
    animation: fadeIn ease .15s;
    overflow: auto;
}

#yt-html5-menu h2 {
    display: contents;
}

#yt-html5-menu .version {
    display: inline;
    position: relative;
    padding-left: 5px;
    bottom: 19px;
    font-weight: 600;
    font-size: 20px;
}

#yt-html5-menu .menu-option {
    display: grid;
    grid-template-columns: auto auto;
    margin: .5em 0;
}

#yt-html5-menu .menu-option:where(:first-child) {
    margin-top: 0;
}

#yt-html5-menu .menu-option:where(:last-child) {
    margin-bottom: 0;
}

#yt-html5-menu .menu-option .menu-name {
    max-width: 14em;
}


#yt-html5-menu .menu-option select {
    color: black;
    background: white;
    position: relative;
    width: 8em;
    left: calc(100% - 8em);
    overflow: hidden !important;
}


#yt-html5-menu .menu-option-note {
    position: relative;
    bottom: 6px;
    font-size: 12px;
}

#yt-html5-menu .menu-toggle {
    background: #1d1d1d;
    border: 5px solid #000;
    border-radius: 1em;
    transition: all .25s;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 2em;
    left: calc(100% - 2.75em);
    box-sizing: unset;
    padding-block: 0;
    padding-inline: 0;
    margin: auto 0;
}

#yt-html5-menu .menu-toggle .light {
    content: '';
    display: block;
    position: relative;
    background: #8f8f8f;
    border-radius: 1em;
    width: auto;
    left: 0;
    height: 8px;
    transition: all .25s;
}

#yt-html5-menu .menu-toggle .light.undefined::after {
    content: '';
    display: block;
    position: relative;
    border: 5px solid;
    border-radius: 1em;
    width: 100%;
    height: 8px;
    top: -5px;
    left: -5px;
    transition: all .25s;
    animation: alertButtonBorder 3s linear infinite;
}

#yt-html5-menu .menu-toggle .light.true {
    background: #04ff00;
    left: 8px;
    width: 18px;
}

#yt-html5-menu .menu-toggle .light.false {
    background: #ff0000;
    width: 18px;
}

.clr-field button {
    border: solid 1px black !important;
    width: 4em !important;
}

.clr-field input {
    width: 4em;
    cursor: pointer;
}

#yt-html5-menu .menu-input[type="text"],
#yt-html5-menu .menu-input[type="url"]
{
    width: 8em;
    height: 1.5em;
}

#yt-html5-menu .menu-input-reset.menu-action {
    position: relative;
    top: 2px;
}


#yt-html5-menu .menu-copy-theme {
    background: #f48c8c;
    width: 100%;
}


#yt-html5-menu .menu-apply-overwrite-button {
    color: white;
    background: #f48c8c;
    font-weight: bold;
    width: 100%;
}

#yt-html5-menu #menu-config-selection {
    background: #2f2f2f;
    color: white;
    width: 100% !important;
    height: 10em;
    resize: vertical;
}


#yt-html5-menu .menu-nuke-all {
    background: rgb(200, 0, 0);
    color: white;
    font-weight: bold;
}


#yt-html5-menu .warning {
    position: fixed;
    width: 20em;
    border: solid 0.5em red;
    border-radius: 0.5em 0.5em 0 0;
    background: red;
    color: white;
    text-align: center;
    top: 28.75em;
    left: 18px;
    z-index: 1;
}

.warning h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#yt-html5-menu .blank {
    height: 70px;
}

/* keyframes */
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes alertButtonBorder {
    0% {border-color: rgb(255, 200, 0);}
    50% {border-color: rgba(0, 0, 0, 0);}
    100% {border-color: rgb(255, 200, 0);}
}